Individ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 rel. 3 sp2 (http://www.altova.com) by Statistics Norway (Statistics Norway) -->
<!-- Bufdir Kommunerapportering -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.9.0">
	<!-- ELEMENTER -->
	<xs:element name="Individ" type="IndividType">
		<xs:annotation>
			<xs:documentation>Individnivå</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Presisering">
		<xs:annotation>
			<xs:documentation>
        Globalt element for presisering, brukes i forbindelse der en overliggende kode må presiseres
      </xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<!-- ATTRIBUTTER -->
	<xs:attribute name="Id">
		<xs:annotation>
			<xs:documentation>
        Globalt attributt for ID, f.eks databaseID/surrogatnøkkel i fagsystemet
      </xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute name="StartDato" type="xs:date">
		<xs:annotation>
			<xs:documentation>
        Globalt attributt for startdato
      </xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="SluttDato" type="xs:date">
		<xs:annotation>
			<xs:documentation>
        Globalt attributt for sluttdato
      </xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<!-- TYPEDEFINISJONER -->
	<xs:complexType name="IndividType">
		<xs:annotation>
			<xs:documentation>
        Typedefinisjon for individ
      </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Melding" type="MeldingType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Plan" type="PlanType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Tiltak" type="TiltakType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Vedtak" type="VedtakType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Ansvar" type="AnsvarType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute ref="Id" use="required"/>
		<xs:attribute ref="StartDato" use="required"/>
		<xs:attribute ref="SluttDato"/>
		<xs:attribute name="DatoSisteEndring" type="xs:dateTime" use="required">
			<xs:annotation>
				<xs:documentation>Dato for siste endring</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Journalnummer" use="required">
			<xs:annotation>
				<xs:documentation>
          Journal-, registrerings-, saks- eller klientnummer
        </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="20"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Fodselsnummer" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="11"/>
					<xs:maxLength value="11"/>
					<xs:pattern value="\d{11}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="DUFnummer" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="12"/>
					<xs:maxLength value="12"/>
					<xs:pattern value="\d{12}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Bydelsnummer" use="optional">
			<xs:annotation>
				<xs:documentation>2-sifret bydelsnummer for bydelene i Oslo</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="2"/>
					<xs:maxLength value="2"/>
					<xs:pattern value="\d{2}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Bydelsnavn">
			<xs:annotation>
				<xs:documentation>Bydelsnavn ved rapportering av bydelene i Oslo</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="250"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Distriktsnummer">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="2"/>
					<xs:maxLength value="3"/>
					<xs:pattern value="\d{2,3}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Saksbehandler" use="required">
			<xs:annotation>
				<xs:documentation>Navn eller epost</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Avslutta3112" use="required">
			<xs:annotation>
				<xs:documentation>
          Kode for avsluttet før utgangen av året:
          1 = Ja
          2 = Nei

          Man kan bruke //Individ/@SluttDato, men det virker som systemene har en "Avsluttet"-knapp som setter denne informasjonen i tillegg
        </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="1"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<!-- Vedtaksgrunnlag -->
	<xs:complexType name="VedtaksgrunnlagType">
		<xs:sequence>
			<xs:element ref="Presisering" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="Kode" use="required">
			<xs:annotation>
				<xs:documentation>
          Kode for vedtaksgrunnlag:
          1 = Foreldres somatiske sykdom
          2 = Foreldres psykiske problem/ lidelse
          3 = Foreldres rusmisbruk
          4 = Foreldres manglende foreldreferdigheter
          5 = Foreldres kriminalitet
          6 = Høy grad av konflikt hjemme
          7 = Vold i hjemmet/ barnet vitne til vold i nære relasjoner
          8 = Barnet utsatt for vanskjøtsel
          9 = Barnet utsatt for fysisk mishandling
          10 = Barnet utsatt for psykisk mishandling
          11 = Barnet utsatt for seksuelle overgrep
          12 = Barnet mangler omsorgsperson
          13 = Barnet har nedsatt funksjonsevne
          14 = Barnets psykiske problem/lidelse
          15 = Barnets rusmisbruk
          16 = Barnets atferd/ kriminalitet
          17 = Barnets relasjonsvansker (mistanke om eller diagnostiserte tilknytningsvansker, problematikk knyttet til samspillet mellom barn og omsorgspersoner)
          18 = Andre forhold ved foreldre/ familien (krever presisering)
          19 = Andre forhold ved barnet og barnets situasjon (krever presisering)
        </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="2"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
					<xs:enumeration value="10"/>
					<xs:enumeration value="11"/>
					<xs:enumeration value="12"/>
					<xs:enumeration value="13"/>
					<xs:enumeration value="14"/>
					<xs:enumeration value="15"/>
					<xs:enumeration value="16"/>
					<xs:enumeration value="17"/>
					<xs:enumeration value="18"/>
					<xs:enumeration value="19"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<!-- Plan -->
	<xs:complexType name="PlanType">
		<xs:attribute ref="Id" use="required"/>
		<xs:attribute ref="StartDato" use="required">
			<xs:annotation>
				<xs:documentation>
          Dato hvor planen regnes som aktiv
        </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute ref="SluttDato" use="optional">
			<xs:annotation>
				<xs:documentation>
          Dato for avslutning av planen
        </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="EvaluertDato" type="xs:date" use="optional">
			<xs:annotation>
				<xs:documentation>Planlagt dato for evaluering</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Plantype" use="required">
			<xs:annotation>
				<xs:documentation>
          Kode for plantype:
          1 = Tiltaksplan etter § 4-5
          2 = Tiltaksplan etter § 4-28
          3 = Foreløpig omsorgsplan etter § 4-15, 3. ledd
          4 = Omsorgsplan etter § 4-15, 3. ledd
        </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="2"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<!-- Melding -->
	<xs:complexType name="MeldingType">
		<xs:sequence>
			<xs:element name="Melder" type="MelderType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Saksinnhold" type="SaksinnholdType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Undersokelse" type="UndersokelseType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute ref="Id" use="required"/>
		<xs:attribute ref="StartDato" use="required">
			<xs:annotation>
				<xs:documentation>
          Mottaksdato for meldingen
        </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute ref="SluttDato" use="optional">
			<xs:annotation>
				<xs:documentation>
          Konklusjonsdato
        </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Konklusjon" use="optional">
			<xs:annotation>
				<xs:documentation>
          Kode for konklusjon av meldingen:
          1 = Henlagt
          2 = Ikke henlagt – konklusjonsdato melding (eventuelt 7 dager etter mottatt melding) er startdato undersøkelse
          3 = Henlagt pga. aktive tiltak
          4 = Melding i pågående undersøkelse
        </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:list>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="1"/>
							<xs:enumeration value="1"/>
							<xs:enumeration value="2"/>
							<xs:enumeration value="3"/>
							<xs:enumeration value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:list>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="HenlagtKategori" use="optional">
			<xs:annotation>
				<xs:documentation>
          Årsak for meldingens henleggelse
          
          1 = Utenfor BVL
          2 = Vist til annen instans
          3 = Overført til annen kommune
          4 = Ikke grunnlag for gjennomgang
        </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:list>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="1"/>
							<xs:enumeration value="1"/>
							<xs:enumeration value="2"/>
							<xs:enumeration value="3"/>
							<xs:enumeration value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:list>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<!-- Tiltak -->
	<xs:complexType name="TiltakType">
		<xs:sequence>
			<xs:element name="Lovhjemmel" type="LovhjemmelType"/>
			<xs:element name="JmfrLovhjemmel" type="LovhjemmelType" minOccurs="0" maxOccurs="3"/>
			<xs:element name="Kategori" type="KategoriType"/>
			<xs:element name="Tilsyn" type="TilsynType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Oppfolging" type="OppfolgingType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Opphevelse" type="OpphevelseType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute ref="Id" use="required"/>
		<xs:attribute name="Ettervern" use="optional">
			<xs:annotation>
				<xs:documentation>
          Vedrører ungdom som har vært under omsorg og som har fylt 18.
          
          Kode for ettervern:
          1 = Mottatt og akseptert tilbud om tiltak
          2 = Mottatt tilbud om tiltak, avslått grunnet ønske om annet tiltak
          3 = Ikke lenger tiltak etter BVL, etter eget ønske
          4 = Ikke lenger tiltak etter BVL, grunnet avslag fra kommunen
        </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="1"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute ref="StartDato" use="required">
			<xs:annotation>
				<xs:documentation>
          Iverksatt dato for tiltaket
        </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute ref="SluttDato" use="optional">
			<xs:annotation>
				<xs:documentation>
          Avslutningsdato for tiltaket
        </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!-- Lovhjemmel -->
	<xs:complexType name="LovhjemmelType">
		<xs:attribute name="Lov" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="100"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Kapittel" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="5"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Paragraf" use="required">
			<xs:annotation>
				<xs:documentation>Hovedtypetiltak</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="5"/>
					<xs:minLength value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Ledd" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="0"/>
					<xs:maxLength value="5"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Punktum" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="0"/>
					<xs:maxLength value="5"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<!-- Melder -->
	<xs:complexType name="MelderType">
		<xs:sequence>
			<xs:element ref="Presisering" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="Kode" use="required">
			<xs:annotation>
				<xs:documentation>
          Kode for melder:
          1 = Barnet selv
          2 = Mor/ far/ foresatte
          3 = Familie for øvrig
          4 = Andre privatpersoner
          5 = Barnvernstjenesten
          6 = NAV (kommune og stat)
          7 = Barnevernsvakt
          8 = Politi/lensmann
          9 = Barnehage
          10 = Helsestasjon/skolehelsetjenesten
          11 = Skole
          12 = Pedagogisk-psykologisk tjeneste (PPT)
          13 = Psykisk helsevern for barn og unge (kommune og stat)
          14 = Psykisk helsevern for voksne (kommune og stat)
          15 = Lege/ sykehus/ tannlege
          16 = Familievernkontor
          17 = Tjenester og instanser med ansvar for oppfølging av personers rusproblemer (kommune og stat)
          18 = Krisesenter
          19 = Asylmottak/ UDI/ innvandringsmyndighet
          20 = Utekontakt/ fritidsklubb
          21 = Frivillige organisasjoner/ idrettslag
          22 = Andre offentlige instanser (krever presisering)
          23 = Andre (krever presisering)
        </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:list>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="2"/>
							<xs:enumeration value="1"/>
							<xs:enumeration value="2"/>
							<xs:enumeration value="3"/>
							<xs:enumeration value="4"/>
							<xs:enumeration value="5"/>
							<xs:enumeration value="6"/>
							<xs:enumeration value="7"/>
							<xs:enumeration value="8"/>
							<xs:enumeration value="9"/>
							<xs:enumeration value="10"/>
							<xs:enumeration value="11"/>
							<xs:enumeration value="12"/>
							<xs:enumeration value="13"/>
							<xs:enumeration value="14"/>
							<xs:enumeration value="15"/>
							<xs:enumeration value="16"/>
							<xs:enumeration value="17"/>
							<xs:enumeration value="18"/>
							<xs:enumeration value="19"/>
							<xs:enumeration value="20"/>
							<xs:enumeration value="21"/>
							<xs:enumeration value="22"/>
							<xs:enumeration value="23"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:list>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<!-- Saksinnhold -->
	<xs:complexType name="SaksinnholdType">
		<xs:sequence>
			<xs:element ref="Presisering" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="Kode" use="required">
			<xs:annotation>
				<xs:documentation>
          Kode for saksinnhold:
          1 = Foreldres somatiske sykdom
          2 = Foreldres psykiske problem/ lidelse
          3 = Foreldres rusmisbruk
          4 = Foreldres manglende foreldreferdigheter
          5 = Foreldres kriminalitet
          6 = Høy grad av konflikt hjemme
          7 = Vold i hjemmet/ barnet vitne til vold i nære relasjoner
          8 = Barnet utsatt for vanskjøtsel (Barnet overlatt til seg selv, dårlig kosthold, dårlig hygiene)
          9 = Barnet utsatt for fysisk mishandling
          10 = Barnet utsatt for psykisk mishandling
          11 = Barnet utsatt for seksuelle overgrep
          12 = Barnet mangler omsorgsperson
          13 = Barnet har nedsatt funksjonsevne
          14 = Barnets psykiske problem/lidelse
          15 = Barnets rusmisbruk
          16 = Barnets atferd/ kriminalitet
          17 = Barnets relasjonsvansker (mistanke om tilknytningsvansker, problematikk knyttet til samspillet mellom barn og omsorgspersoner)
          18 = Andre forhold ved foreldre/ familien (krever presisering) (Denne kategorien skal kunne benyttes dersom ingen av kategoriene 1-17 passer.)
          19 = Andre forhold ved barnets situasjon (krever presisering) (Denne kategorien skal kunne benyttes dersom ingen av kategoriene 1-17 passer.)
        </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:list>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="2"/>
							<xs:enumeration value="1"/>
							<xs:enumeration value="2"/>
							<xs:enumeration value="3"/>
							<xs:enumeration value="4"/>
							<xs:enumeration value="5"/>
							<xs:enumeration value="6"/>
							<xs:enumeration value="7"/>
							<xs:enumeration value="8"/>
							<xs:enumeration value="9"/>
							<xs:enumeration value="10"/>
							<xs:enumeration value="11"/>
							<xs:enumeration value="12"/>
							<xs:enumeration value="13"/>
							<xs:enumeration value="14"/>
							<xs:enumeration value="15"/>
							<xs:enumeration value="16"/>
							<xs:enumeration value="17"/>
							<xs:enumeration value="18"/>
							<xs:enumeration value="19"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:list>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<!-- Undersøkelse -->
	<xs:complexType name="UndersokelseType">
		<xs:sequence>
			<xs:element ref="Presisering" minOccurs="0"/>
			<xs:element name="Vedtaksgrunnlag" type="SaksinnholdType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute ref="Id" use="required"/>
		<xs:attribute ref="StartDato" use="required">
			<xs:annotation>
				<xs:documentation>
          Dato for undersøkelsens start.
          
          Denne er lik SluttDato for meldingen hvis meldingen har konklusjonskode = 2: «Ikke henlagt»
        </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="UtvidetFrist">
			<xs:annotation>
				<xs:documentation>
          Kode for utvidet frist:
          1 = Ja
          2 = Nei
        </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="1"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="UtvidetFristDato" type="xs:date" use="optional">
			<xs:annotation>
				<xs:documentation>
          Datoen det ble innvilget utvidet frist.
          Kun relevant dersom det er innvilget utvidet frist.
        </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute ref="SluttDato" use="optional">
			<xs:annotation>
				<xs:documentation>
          Konklusjonsdato for undersøkelsen
        </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Konklusjon" use="optional">
			<xs:annotation>
				<xs:documentation>
          Kode for konklusjon av undersøkelse:
          1 = Barneverntjenesten fatter vedtak om tiltak
          2 = Begjæring om tiltak for fylkesnemnda
          3 = Undersøkelsen henlagt etter barnverntjenestens vurdering (kategorien gjelder når barneverntjenesten vurderer at vilkår for å sette inn tiltak ikke er oppfylt)
          4 = Undersøkelsen henlagt etter partens ønske (kategorien gjelder når barneverntjenesten vurderer at vilkår for å sette inn tiltak etter § 4-4 er tilstede, men saken henlegges fordi foreldre/barnet ikke samtykker til tiltak. Gjelder bare når det er snakk om hjelpetiltak som foreldre/barn kan takke nei til.)
          5 = Undersøkelsen henlagt som følge av flytting (kategorien gjelder når undersøkelsessak henlegges fordi barnet flytter til en ny kommune. Bør også innebære et underpunkt der barneverntjenesten må oppgi om saken er meldt videre til barnets nye oppholdskommune, obligatorisk ja/nei svar) (krever presisering)
        </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:list>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="1"/>
							<xs:enumeration value="1"/>
							<xs:enumeration value="2"/>
							<xs:enumeration value="3"/>
							<xs:enumeration value="4"/>
							<xs:enumeration value="5"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:list>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<!-- Kategori -->
	<xs:complexType name="KategoriType">
		<xs:sequence>
			<xs:element ref="Presisering" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="Kode" use="required">
			<xs:annotation>
				<xs:documentation>
          Kode for tiltakskategori:
          1.1 = Barnvernsinstitusjoner (gjelder alle typer barnevernsinstitusjoner)
          1.2 = Plassering i institusjon etter annen lov
          1.99 = Andre tiltak (krever presisering)
          2.1 = Fosterhjem i familie og nære nettverk
          2.2 = Fosterhjem utenfor familie og nære nettverk
          2.3 = Statlige familiehjem (gjelder fosterhjem som staten har ansvar for)
          2.4 = Fosterhjem etter § 4-27
          2.5 = Beredskapshjem
          2.99 = Andre tiltak (krever presisering)
          3.1 = MST
          3.2 = PMTO
          3.3 = FFT
          3.4 = Weber Stratton
          3.5 = ICDP
          3.6 = Marte Meo
          3.7 = Andre hjemmebaserte tiltak (gjelder andre tiltak i hjemmet som følger en spesiell metodikk og som gjenomføres på en systematisk måte) (krever presisering)
          3.8 = Sentre for foreldre og barn
          3.9 = Vedtak om råd og veiledning
          3.10 = Hjemmekonsulent/miljøarbeider
          3.99 = Andre tiltak (krever presisering)
          4.1 = Barnehage
          4.2 = SFO/ Aktivitetsskole
          4.3 = Fritidsaktiviteter
          4.4 = Økonomisk hjelp for øvrig (gjelder økonomisk hjelp som ikke inngår i 4.1, 4.2 og 4.3)
          4.5 = Besøkshjem/ avlastningstiltak
          4.6 = Støttekontakt
          4.7 = Samtalegrupper/ barnegrupper (gjelder strukturerte samtale- og aktivitetstilbud for aldersbestemte grupper).
          4.8 = Utdanning og arbeid (gjelder oppfølging og støtte for å styrke barn og ungdoms tilknytning til skole eller arbeid)
          4.9 = ART
          4.99 = Andre tiltak (krever presisering)
          5.1 = Frivillig tilsyn i hjemmet (gjelder der foreldre har samtykket til tilsyn)
          5.2 = Pålagt tilsyn i hjemmet (gjelder der tilsyn skjer etter vedtak i fylkesnemnd)
          5.3 = Tilsyn under samvær
          5.4 = Ruskontroll
          5.99 = Andre tiltak (krever presisering)
          6.1 = Familieråd
          6.2 = Nettverksmøter (Strukturerte dialogmøter som består av barneverntjenesten, foreldre og ungdom og andre personer som er viktige i ungdommens liv. Invitasjon av deltakere skjer i samråd mellom barneverntjenesten, ungdom og foreldre)
          6.3 = Individuell plan
          6.4 = Deltakelse i ansvarsgruppe
          6.5 = Samarbeid om utdanning og arbeid
          6.99 = Andre tiltak (krever presisering)
          7.1 = Bvl § 4-10 medisinsk undersøkelse og behandling
          7.2 = Bvl § 4-11 behandling av barn med særlige opplæringsbehov
          7.3 = Psykisk helsehjelp for barn og unge (Gjelder ikke ved henvisninger, men når barn får behandling av psykolog eller innen psykisk helsevern/BUP)
          7.99 = Andre tiltak (krever presisering)
          8.1 = Økonomisk hjelp ved etablering i egen bolig/ hybel (Ikke husleie)
          8.2 = Bolig med oppfølging (inkluderer også bofellesskap)
          8.3 = Botreningskurs
          8.99 = Andre tiltak (krever presisering)
        </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="3"/>
					<xs:maxLength value="5"/>
					<xs:enumeration value="1.1"/>
					<xs:enumeration value="1.2"/>
					<xs:enumeration value="1.99"/>
					<xs:enumeration value="2.1"/>
					<xs:enumeration value="2.2"/>
					<xs:enumeration value="2.3"/>
					<xs:enumeration value="2.4"/>
					<xs:enumeration value="2.5"/>
					<xs:enumeration value="2.99"/>
					<xs:enumeration value="3.1"/>
					<xs:enumeration value="3.2"/>
					<xs:enumeration value="3.3"/>
					<xs:enumeration value="3.4"/>
					<xs:enumeration value="3.5"/>
					<xs:enumeration value="3.6"/>
					<xs:enumeration value="3.7"/>
					<xs:enumeration value="3.8"/>
					<xs:enumeration value="3.9"/>
					<xs:enumeration value="3.10"/>
					<xs:enumeration value="3.99"/>
					<xs:enumeration value="4.1"/>
					<xs:enumeration value="4.2"/>
					<xs:enumeration value="4.3"/>
					<xs:enumeration value="4.4"/>
					<xs:enumeration value="4.5"/>
					<xs:enumeration value="4.6"/>
					<xs:enumeration value="4.7"/>
					<xs:enumeration value="4.8"/>
					<xs:enumeration value="4.9"/>
					<xs:enumeration value="4.99"/>
					<xs:enumeration value="5.1"/>
					<xs:enumeration value="5.2"/>
					<xs:enumeration value="5.3"/>
					<xs:enumeration value="5.4"/>
					<xs:enumeration value="5.99"/>
					<xs:enumeration value="6.1"/>
					<xs:enumeration value="6.2"/>
					<xs:enumeration value="6.3"/>
					<xs:enumeration value="6.4"/>
					<xs:enumeration value="6.5"/>
					<xs:enumeration value="6.99"/>
					<xs:enumeration value="7.1"/>
					<xs:enumeration value="7.2"/>
					<xs:enumeration value="7.3"/>
					<xs:enumeration value="7.99"/>
					<xs:enumeration value="8.1"/>
					<xs:enumeration value="8.2"/>
					<xs:enumeration value="8.3"/>
					<xs:enumeration value="8.99"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<!-- Opphevelse -->
	<xs:complexType name="OpphevelseType">
		<xs:sequence>
			<xs:element ref="Presisering" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="Kode" use="required">
			<xs:annotation>
				<xs:documentation>
          Kode for opphevelse av tiltak:
          1 = Barnet tilbakeført til foreldre/ familien jamfør § 4-21
          2 = Barnet har fylt 18 år
          3 = Adopsjon § 4-20
          4 = Annet (krever presisering)
        </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="1"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<!-- Ansvar -->
	<xs:complexType name="AnsvarType">
		<xs:attribute name="Tilsynsansvar" use="required">
			<xs:annotation>
				<xs:documentation>
          Indikerer hvorvidt kommunen har tilsynsansvar for individet.
          
          Kode:
          1 = Ja
          2 = Nei
        </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Oppfolgingsansvar" use="required">
			<xs:annotation>
				<xs:documentation>
          Indikerer hvorvidt kommunen har oppfølgingsansvar for individet.
          
          Kode:
          1 = Ja
          2 = Nei
        </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<!-- Oppfølging -->
	<xs:complexType name="OppfolgingType">
		<xs:attribute ref="Id" use="required"/>
		<xs:attribute name="UtfortDato" type="xs:date" use="required">
			<xs:annotation>
				<xs:documentation>
          Dato oppfølgingsbesøket faktisk ble foretatt
        </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!-- Tilsyn -->
	<xs:complexType name="TilsynType">
		<xs:attribute ref="Id" use="required"/>
		<xs:attribute name="UtfortDato" type="xs:date" use="required">
			<xs:annotation>
				<xs:documentation>
          Dato tilsynsbesøket faktisk ble utført
        </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!-- Krav -->
	<xs:complexType name="KravType">
		<xs:attribute ref="Id" use="required"/>
		<xs:attribute ref="StartDato" use="required">
			<xs:annotation>
				<xs:documentation>
          Mottaksdato for kravet
        </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute ref="SluttDato" use="optional">
			<xs:annotation>
				<xs:documentation>
          Datoen hvor kravet oversendes fylkesnemnda
        </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!-- Vedtak -->
	<xs:complexType name="VedtakType">
		<xs:sequence>
			<xs:element name="Lovhjemmel" type="LovhjemmelType"/>
			<xs:element name="JmfrLovhjemmel" type="LovhjemmelType" minOccurs="0" maxOccurs="3"/>
			<xs:element name="Krav" type="KravType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute ref="Id" use="required"/>
		<xs:attribute ref="StartDato" use="required">
			<xs:annotation>
				<xs:documentation>
          Datoen vedtaket ble avgjort
        </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute ref="SluttDato" use="optional">
			<xs:annotation>
				<xs:documentation>
          Vedtakets bortfallsdato
        </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Status" use="required">
			<xs:annotation>
				<xs:documentation>
          Vedtakets status
          
          Koder:
          1 = Under behandling
          2 = Klar for godkjenning
          3 = Godkjent
          4 = Avslått/Avsluttet
          5 = Bortfalt etter BVL
          6 = Opphevet etter forvaltningsloven
        </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="1"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
