src/main/resources/Barnevern.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2021 rel. 3 (x64) (http://www.altova.com) by Statistisk Sentralbyrå (Statistisk Sentralbyrå) -->
<!-- Statistics Norway (Statistics Norway) -->
<!-- Bufdir Kommunerapportering -->
<!-- Maintainers:
Jon.Ole.Johansen.Hagemo@ssb.no
Bjorge.Saether@bufdir.no
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="2.2.3">
	<!-- ATTRIBUTTER -->
	<xs:attribute name="Id">
		<xs:annotation>
			<xs:appinfo>UUID</xs:appinfo>
			<xs:documentation>Globalt attributt for UUID. Database-id/surrogatnøkkel i fagsystem.
            </xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="36"/>
				<xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-5][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute name="MigrertId">
		<xs:annotation>
			<xs:appinfo>Database-ID</xs:appinfo>
			<xs:documentation>Globalt attributt for ID i system det er migrert fra, og som er benyttet i tidligere
                KOSTRA-rapportering(er).
            </xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="36"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute name="StartDato" type="xs:date">
		<xs:annotation>
			<xs:appinfo>Startdato</xs:appinfo>
			<xs:documentation>Globalt attributt for startdato.</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="SluttDato" type="xs:date">
		<xs:annotation>
			<xs:appinfo>Sluttdato</xs:appinfo>
			<xs:documentation>Globalt attributt for sluttdato.</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="Presisering">
		<xs:annotation>
			<xs:documentation>
                Globalt attributt for presisering. Benyttes hvis tilhørende kode krever presisering.
            </xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="10000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute name="ErSlettet" type="xs:boolean">
		<xs:annotation>
			<xs:appinfo>ErSlettet</xs:appinfo>
			<xs:documentation>Globalt attributt for slettet.</xs:documentation>
		</xs:annotation>
	</xs:attribute>

	<!-- ELEMENTER -->
	<xs:element name="Barnevern" type="BarnevernType">
		<xs:annotation>
			<xs:documentation>
                Omsluttende element for rapportering av barnevernsdata.
            </xs:documentation>
		</xs:annotation>
	</xs:element>
	<!-- TYPEDEFINISJONER -->
	<xs:complexType name="BarnevernType">
		<xs:annotation>
			<xs:documentation>TODO: Forklaring for begrep mangler</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Fagsystem" type="FagsystemType">
				<xs:annotation>
					<xs:documentation>Informasjon om fagsystem for innrapportering.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Avgiver" type="AvgiverType">
				<xs:annotation>
					<xs:documentation>Informasjon om kommune for innrapportering.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sak" type="SakType">
				<xs:annotation>
					<xs:documentation>Saksmappe for et barn. Komplett saksmappe innrapporteres når innhold er
                        endret etter forrige innrapportering.
                    </xs:documentation>
				</xs:annotation>
				<!-- unique-checks-->
				<xs:unique name="MeldingIdUnique">
					<xs:selector xpath="Melding"/>
					<xs:field xpath="@Id"/>
				</xs:unique>
				<xs:unique name="EttervernIdUnique">
					<xs:selector xpath="Ettervern"/>
					<xs:field xpath="@Id"/>
				</xs:unique>
				<xs:unique name="OversendelseFylkesnemndIdUnique">
					<xs:selector xpath="OversendelseFylkesnemnd"/>
					<xs:field xpath="@Id"/>
				</xs:unique>
				<xs:unique name="VedtakIdUnique">
					<xs:selector xpath="Vedtak"/>
					<xs:field xpath="@Id"/>
				</xs:unique>
				<xs:unique name="UndersokelseIdUnique">
					<xs:selector xpath="Undersokelse"/>
					<xs:field xpath="@Id"/>
				</xs:unique>
				<xs:unique name="TiltakIdUnique">
					<xs:selector xpath="Tiltak"/>
					<xs:field xpath="@Id"/>
				</xs:unique>
				<xs:unique name="PersonaliaIdUnique">
					<xs:selector xpath="Personalia"/>
					<xs:field xpath="@Id"/>
				</xs:unique>
				<xs:unique name="PlanIdUnique">
					<xs:selector xpath="Plan"/>
					<xs:field xpath="@Id"/>
				</xs:unique>
				<xs:unique name="FlyttingIdUnique">
					<xs:selector xpath="Flytting"/>
					<xs:field xpath="@Id"/>
				</xs:unique>
				<xs:unique name="RelasjonIdUnique">
					<xs:selector xpath="Relasjon"/>
					<xs:field xpath="@Id"/>
				</xs:unique>
				<xs:unique name="SlettetIdUnique">
					<xs:selector xpath="Slettet"/>
					<xs:field xpath="@Id"/>
					<xs:field xpath="@Type"/>
				</xs:unique>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="Id" use="required"/>
		<xs:attribute name="DatoUttrekk" use="required">
			<xs:annotation>
				<xs:appinfo>
                    Dato og tid for uttrekk med tidssone. Eksempler gyldige formater: '2022-06-23T09:30:10Z' (UTC-tid),
                    eller
                    '2022-06-23T11:30:10+02:00' (dato/tid med offset).
                </xs:appinfo>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:dateTime">
					<xs:pattern value="\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(\.\d{1,9})?(Z|[+-]\d{2}:\d{2})"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ForrigeId">
			<xs:annotation>
				<xs:appinfo>UUID</xs:appinfo>
				<xs:documentation>Globalt attributt for UUID. Database-id/surrogatnøkkel fra fagsystem.
                </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="36"/>
					<xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-5][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="FagsystemType">
		<xs:attribute name="Leverandor" use="required">
			<xs:annotation>
				<xs:appinfo>Leverandørnavn fagsystem. Eksempler: 'Visma', 'Acos' eller 'Netcompany'.</xs:appinfo>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="3"/>
					<xs:maxLength value="300"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Navn" use="required">
			<xs:annotation>
				<xs:appinfo>Navn fagsystem. Eksempel: 'Familia'.</xs:appinfo>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="300"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Versjon" use="required">
			<xs:annotation>
				<xs:appinfo>Versjonsnavn fagsystem. Eksempel: 'v1.2.3'.</xs:appinfo>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="100"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="AvgiverType">
		<xs:attribute name="Organisasjonsnummer" use="required">
			<xs:annotation>
				<xs:documentation>
                    Organisasjonsnummer, avgiverkommune.
                </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="9"/>
					<xs:maxLength value="9"/>
					<xs:pattern value="\d{9}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Kommunenummer" use="required">
			<xs:annotation>
				<xs:documentation>
                    4-sifret kommunenummer, avgiverkommune.
                </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="4"/>
					<xs:maxLength value="4"/>
					<xs:pattern value="\d{4}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Kommunenavn" use="required">
			<xs:annotation>
				<xs:documentation>Navn, avgiverkommune.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="250"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Bydelsnummer">
			<xs:annotation>
				<xs:documentation>2-sifret bydelsnummer. Benyttes kun for kommuner med bydeler.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="2"/>
					<xs:maxLength value="2"/>
					<xs:pattern value="\d{2}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Bydelsnavn">
			<xs:annotation>
				<xs:documentation>Bydelsnavn. Eksempel: 'Gamle Oslo'. Benyttes kun for kommuner med bydeler.
                </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="250"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SakType">
		<xs:annotation>
			<xs:documentation>
                Typedefinisjon for Sak (tidligere Individ).
            </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Personalia" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute ref="Id" use="required"/>
					<xs:attribute ref="StartDato" use="required"/>
					<xs:attribute name="Fodselsnummer" use="required">
						<xs:annotation>
							<xs:documentation>Fødselsnummer (https://www.udi.no/ord-og-begreper/fodselsnummer/),
                                D-nummer (https://www.udi.no/ord-og-begreper/d-nummer/),
                                fødselsdato (DDMMÅÅ) + 00100,
                                fødselsdato (DDMMÅÅ) + 00200,
                                fødselsdato (DDMMÅÅ) + 55555,
                                fødselsdato (DDMMÅÅ) + 99999
                            </xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="11"/>
								<xs:maxLength value="11"/>
								<xs:pattern value="\d{11}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Fodseldato" type="xs:date" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="no">
                                Barnets fødselsdato. For ufødte barn oppgis termindato.
                            </xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Kjonn" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="no">
                                0 = Ufødt
                                1 = Mann / Gutt
                                2 = Kvinne / Jente
                            </xs:documentation>
							<xs:appinfo xml:lang="json">
                                {
                                "type":"codelist",
                                "term":"Sak",
                                "title":"Kjønn",
                                "path":"/Barnevern/Sak/@Kjonn",
                                "items":[
                                {"code":"0", "validFrom":"2022-01-01", "title":"Ufødt"},
                                {"code":"1", "validFrom":"2022-01-01", "title":"Mann / Gutt"},
                                {"code":"2","validFrom":"2022-01-01","title":"Kvinne / Jente"}
                                ]
                                }
                            </xs:appinfo>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="1"/>
								<xs:enumeration value="0"/>
								<xs:enumeration value="1"/>
								<xs:enumeration value="2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="DUFnummer">
						<xs:annotation>
							<xs:documentation>DUF-nummer (https://www.udi.no/ord-og-begreper/duf-nummer/)
                            </xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="12"/>
								<xs:maxLength value="12"/>
								<xs:pattern value="\d{12}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute ref="ErSlettet"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Melding" type="MeldingType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Bekymringsmelding</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Undersokelse" type="UndersokelseType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Plan" type="PlanType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Tiltaks- eller omsorgsplan</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tiltak" type="TiltakType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Vedtak" type="VedtakType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Alle typer vedtak som kan fattes i barnevernssaker, også av fylkesnemnda.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ettervern" type="EttervernType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Tilbud om ettervern. Evt. ettervernstiltak registreres som tiltak.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OversendelseFylkesnemnd" type="OversendelseBarneverntjenesteType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Begjæring om tvangsvedtak fra barneverntjeneste til fylkesnemnd.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Flytting" type="FlyttingType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Relasjon" type="RelasjonType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Kopling av elementer, f.eks. melding/undersøkelse, tiltak/vedtak.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Slettet" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute ref="Id" use="required"/>
					<xs:attribute name="Type" type="BegrepsType" use="required"/>
					<xs:attribute ref="SluttDato" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="Id" use="required"/>
		<xs:attribute ref="MigrertId"/>
		<xs:attribute ref="StartDato" use="required"/>
		<xs:attribute ref="SluttDato"/>
		<xs:attribute name="Journalnummer" use="required">
			<xs:annotation>
				<xs:documentation>
                    Journal-, registrerings-, saks- eller klientnummer.
                </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="36"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Avsluttet" type="xs:boolean"/>
		<xs:attribute ref="ErSlettet"/>
	</xs:complexType>
	<!-- Plan -->
	<xs:complexType name="PlanType">
		<xs:sequence>
			<xs:element name="Evaluering" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="UtfortDato" type="xs:date" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Konklusjon" minOccurs="0">
				<xs:complexType>
					<xs:attribute ref="SluttDato" use="required">
						<xs:annotation>
							<xs:documentation>
                                Dato avslutning plan.
                            </xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="Id" use="required"/>
		<xs:attribute ref="MigrertId"/>
		<xs:attribute ref="StartDato" use="required">
			<xs:annotation>
				<xs:documentation>
                    Dato for tidspunkt planen regnes som aktiv.
                </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Plantype" use="required">
			<xs:annotation>
				<xs:documentation>
                    1 = Tiltaksplan etter BVL2021 § 8-1 (tidligere BVL1992 § 4-5)
                    2 = Tiltaksplan etter BVL2021 § 8-4 (tidligere BVL1992 § 4-28)
                    3 = Foreløpig omsorgsplan etter BVL1992 § 4-15, 3. ledd
                    4 = Omsorgsplan etter BVL2021 § 8-3, 4. ledd (tidligere BVL1992 § 4-15, 3. ledd)
                    5 = Tiltaksplan – ettervern etter BVL 2021 § 8-5, 2. ledd
                    6 = Samværsplan etter BVL 2021 § 7-6
                    7 = Undersøkelsesplan etter BVL 2021 § 2-2, 3. ledd
                    8 = Undersøkelsesplan etter akuttvedtak etter BVL 2021 § 8-2, 3. ledd
                </xs:documentation>
				<xs:appinfo xml:lang="json">
                    {
                    "type":"codelist",
                    "term":"Plan",
                    "title":"Plantype",
                    "description":"Kjønn",
                    "path":"/Barnevern/Sak/Plan/@Plantype",
                    "items":[
                    { "code":"1", "validFrom":"2013-01-01", "title":"Tiltaksplan etter BVL2021 § 8-1 (tidligere BVL1992
                    § 4-5)" },
                    { "code":"2", "validFrom":"2013-01-01", "title":"Tiltaksplan etter BVL2021 § 8-4 (tidligere BVL1992
                    § 4-28)" },
                    { "code":"3", "validFrom":"2013-01-01", "validTo":"2022-12-31" "title":"Foreløpig omsorgsplan etter
                    BVL1992 § 4-15, 3. ledd" },
                    { "code":"4", "validFrom":"2013-01-01", "title":"Omsorgsplan etter BVL2021 § 8-3, 4. ledd (tidligere
                    BVL1992 § 4-15, 3. ledd)" }
                    { "code":"5", "validFrom":"2023-01-01", "title":"Tiltaksplan – ettervern etter BVL 2021 § 8-5, 2.
                    ledd" }
                    { "code":"6", "validFrom":"2023-01-01", "title":"Samværsplan etter BVL 2021 § 7-6" }
                    { "code":"7", "validFrom":"2023-01-01", "title":"Undersøkelsesplan etter BVL 2021 § 2-2, 3. ledd" }
                    { "code":"8", "validFrom":"2023-01-01", "title":"Undersøkelsesplan etter akuttvedtak etter BVL 2021
                    § 8-2, 3. ledd" }
                    ]
                    }
                </xs:appinfo>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="2"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute ref="ErSlettet"/>
	</xs:complexType>
	<!-- Melding -->
	<xs:complexType name="MeldingType">
		<xs:sequence>
			<xs:element name="Melder" type="MelderType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Saksinnhold" type="SaksinnholdType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Konklusjon" minOccurs="0">
				<xs:complexType>
					<xs:attribute ref="SluttDato" use="required">
						<xs:annotation>
							<xs:documentation>
                                Konklusjonsdato
                            </xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Kode" use="required">
						<xs:annotation>
							<xs:documentation>
                                1 = Henlagt
                                2 = Ikke henlagt – konklusjonsdato melding (evt. 7 dager etter mottatt melding) er
                                startdato undersøkelse
                                3 = Henlagt pga. aktive tiltak
                                4 = Melding i pågående undersøkelse
                            </xs:documentation>
							<xs:appinfo xml:lang="json">
                                {
                                "type":"codelist",
                                "term":"Melding",
                                "title":"Konklusjon",
                                "path":"/Barnevern/Sak/Melding/Konklusjon/@Kode",
                                "items":[
                                {"code":"1", "validFrom":"2013-01-01", "title":"Henlagt " },
                                {"code":"2", "validFrom":"2013-01-01", "title":"Ikke henlagt – konklusjonsdato melding
                                (eventuelt 7 dager etter mottatt melding) er startdato undersøkelse" },
                                {"code":"3", "validFrom":"2020-01-01", "title":"Henlagt pga. aktive tiltak" },
                                {"code":"4", "validFrom":"2020-01-01", "title":"Melding i pågående undersøkelse" }
                                ]
                                }
                            </xs:appinfo>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:maxLength value="3"/>
								<xs:enumeration value="1"/>
								<xs:enumeration value="2"/>
								<xs:enumeration value="3"/>
								<xs:enumeration value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute ref="ErSlettet"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="Id" use="required"/>
		<xs:attribute ref="MigrertId"/>
		<xs:attribute ref="StartDato" use="required">
			<xs:annotation>
				<xs:documentation>
                    Dato melding mottatt.
                </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute ref="ErSlettet"/>
	</xs:complexType>
	<!-- Tiltak -->
	<xs:complexType name="TiltakType">
		<xs:sequence>
			<xs:element name="Lovhjemmel" type="LovhjemmelType"/>
			<xs:element name="JmfrLovhjemmel" type="LovhjemmelType" minOccurs="0" maxOccurs="3"/>
			<xs:element name="Kategori" type="KategoriType"/>
			<xs:element name="Tiltaksgrunnlag" type="SaksinnholdType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Tilsyn" type="TilsynType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tilsyn i fosterhjem utført av uavhengig part.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Oppfolging" type="OppfolgingType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Oppfølgingsbesøk i fosterhjem utført av ansvarlig barneverntjeneste.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Opphevelse" type="OpphevelseType" minOccurs="0"/>
			<xs:element name="Konklusjon" minOccurs="0">
				<xs:complexType>
					<xs:attribute ref="SluttDato" use="required">
						<xs:annotation>
							<xs:documentation>Dato tiltak avsluttet.
                            </xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="Id" use="required"/>
		<xs:attribute ref="MigrertId"/>
		<xs:attribute ref="StartDato" use="required">
			<xs:annotation>
				<xs:documentation>
                    Dato iverksettelse tiltak.
                </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute ref="ErSlettet"/>
	</xs:complexType>
	<!-- Lovhjemmel -->
	<xs:complexType name="LovhjemmelType">
		<xs:sequence>
			<xs:element name="Lov">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="BVL"/>
						<xs:enumeration value="BVL2021"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Kapittel">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="3"/>
						<xs:pattern value="\d+[a-z]*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Paragraf">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="4"/>
						<xs:pattern value="\d+[a-z]*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Ledd" minOccurs="0" maxOccurs="unbounded">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="3"/>
						<xs:pattern value="\d+"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Bokstav" minOccurs="0" maxOccurs="unbounded">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="1"/>
						<xs:pattern value="[a-z]"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Punktum" minOccurs="0" maxOccurs="unbounded">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="3"/>
						<xs:pattern value="\d+"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- Melder -->
	<xs:complexType name="MelderType">
		<xs:attribute name="Kode" use="required">
			<xs:annotation>
				<xs:documentation>
                    1 = Barnet selv
                    2 = Mor/ far/ foresatte
                    3 = Familie for øvrig
                    4 = Andre privatpersoner
                    5 = Barnvernstjenesten
                    6 = NAV (kommune og stat)
                    7 = Barnevernsvakt
                    8 = Politi
                    9 = Barnehage
                    10 = Helsestasjon/skolehelsetjenesten
                    11 = Skole
                    12 = Pedagogisk-psykologisk tjeneste (PPT)
                    13 = Psykisk helsevern for barn og unge (kommune og stat)
                    14 = Psykisk helsevern for voksne (kommune og stat)
                    15 = Lege/ sykehus/ tannlege
                    16 = Familievernkontor
                    17 = Tjenester og instanser med ansvar for oppfølging av personers rusproblemer (kommune og stat)
                    18 = Krisesenter
                    19 = Asylmottak/ UDI/ innvandringsmyndighet
                    20 = Utekontakt/ fritidsklubb
                    21 = Frivillige organisasjoner/ idrettslag
                    22 = Andre offentlige instanser (krever presisering)
                    23 = Anonym
                </xs:documentation>
				<xs:appinfo xml:lang="json">
                    {
                    "type":"codelist",
                    "term":"Melding",
                    "title":"Melder",
                    "path":"/Barnevern/Sak/Melding/Melder/@Kode",
                    "items":[
                    { "code":"1", "validFrom":"2013-01-01", "title":"Barnet selv" },
                    { "code":"2", "validFrom":"2013-01-01", "title":"Mor/ far/ foresatte" },
                    { "code":"3", "validFrom":"2013-01-01", "title":"Familie for øvrig" },
                    { "code":"4", "validFrom":"2013-01-01", "title":"Andre privatpersoner" },
                    { "code":"5", "validFrom":"2013-01-01", "title":"Barnvernstjenesten" },
                    { "code":"6", "validFrom":"2013-01-01", "title":"NAV (kommune og stat)" },
                    { "code":"7", "validFrom":"2013-01-01", "title":"Barnevernsvakt" },
                    { "code":"8", "validFrom":"2013-01-01", "title":"Politi" },
                    { "code":"9", "validFrom":"2013-01-01", "title":"Barnehage" },
                    { "code":"10", "validFrom":"2013-01-01", "title":"Helsestasjon/skolehelsetjenesten" },
                    { "code":"11", "validFrom":"2013-01-01", "title":"Skole" },
                    { "code":"12", "validFrom":"2013-01-01", "title":"Pedagogisk-psykologisk tjeneste (PPT)" },
                    { "code":"13", "validFrom":"2013-01-01", "title":"Psykisk helsevern for barn og unge (kommune og
                    stat)" },
                    { "code":"14", "validFrom":"2013-01-01", "title":"Psykisk helsevern for voksne (kommune og stat)" },
                    { "code":"15", "validFrom":"2013-01-01", "title":"Lege/ sykehus/ tannlege" },
                    { "code":"16", "validFrom":"2013-01-01", "title":"Familievernkontor" },
                    { "code":"17", "validFrom":"2013-01-01", "title":"Tjenester og instanser med ansvar for oppfølging
                    av personers rusproblemer (kommune og stat)" },
                    { "code":"18", "validFrom":"2013-01-01", "title":"Krisesenter" },
                    { "code":"19", "validFrom":"2013-01-01", "title":"Asylmottak/ UDI/ innvandringsmyndighet" },
                    { "code":"20", "validFrom":"2013-01-01", "title":"Utekontakt/ fritidsklubb" },
                    { "code":"21", "validFrom":"2013-01-01", "title":"Frivillige organisasjoner/ idrettslag" },
                    { "code":"22", "validFrom":"2013-01-01", "title":"Andre offentlige instanser (krever presisering)"},
                    { "code":"23", "validFrom":"2013-01-01", "title":"Anonym" }
                    ]
                    }
                </xs:appinfo>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="2"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
					<xs:enumeration value="10"/>
					<xs:enumeration value="11"/>
					<xs:enumeration value="12"/>
					<xs:enumeration value="13"/>
					<xs:enumeration value="14"/>
					<xs:enumeration value="15"/>
					<xs:enumeration value="16"/>
					<xs:enumeration value="17"/>
					<xs:enumeration value="18"/>
					<xs:enumeration value="19"/>
					<xs:enumeration value="20"/>
					<xs:enumeration value="21"/>
					<xs:enumeration value="22"/>
					<xs:enumeration value="23"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute ref="Presisering"/>
	</xs:complexType>
	<!-- Saksinnhold -->
	<xs:complexType name="SaksinnholdType">
		<xs:annotation>
			<xs:documentation>TODO: Forklaring for begrep mangler</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Kode" use="required">
			<xs:annotation>
				<xs:documentation>
                    1 = Foreldres somatiske sykdom
                    2 = Foreldres psykiske problem/ lidelse
                    3 = Foreldres rusmisbruk
                    4 = Foreldres manglende foreldreferdigheter
                    20 = Foreldres manglende beskyttelse av barnet
                    21 = Foreldres manglende stimulering og regulering av barnet
                    22 = Foreldres manglende sensitivitet og følelsesmessige tilgjengelighet for barnet
                    23 = Foreldres manglende oppfølging av barnets behov for barnehage, skole og pedagogiske tjenester
                    24 = Konflikt mellom foreldre som ikke bor sammen
                    28 = Foreldres manglende oppfølging av barnets behov for helsetjenester
                    29 = Foreldres kognitive vansker
                    31 = Foreldre har vedvarende økonomiske problemer/vedvarende lavinntekt
                    5 = Foreldres kriminalitet
                    6 = Høy grad av konflikt hjemme
                    7 = Vold i hjemmet/ barnet vitne til vold i nære relasjoner
                    8 = Foreldres manglende ivaretakelse av grunnleggende og hverdagslig omsorg for barnet
                    9 = Barnet utsatt for fysisk vold
                    10 = Barnet utsatt for psykisk vold
                    11 = Barnet utsatt for seksuelle overgrep
                    12 = Barnet mangler omsorgsperson
                    13 = Barnet har nedsatt funksjonsevne
                    14 = Barnets psykiske problem/lidelse
                    15 = Barnets rusmisbruk
                    16 = Barnets atferd/ kriminalitet
                    17 = Barnets relasjonsvansker (mistanke om eller diagnostiserte tilknytningsvansker, problematikk
                    knyttet til samspillet mellom barn og omsorgspersoner)
                    25 = Barnets atferd
                    26 = Barnets kriminelle handlinger
                    27 = Barnet utsatt for menneskehandel
                    30 = Barnets kognitive vansker
                    18 = Andre forhold ved foreldre/ familien (krever presisering) (Denne kategorien skal kunne benyttes
                    dersom ingen av kategoriene 1-27 passer.)
                    19 = Andre forhold ved barnets situasjon (krever presisering) (Denne kategorien skal kunne benyttes
                    dersom ingen av kategoriene 1-27 passer.)
                </xs:documentation>
				<xs:appinfo xml:lang="json">
                    {
                    "type":"codelist",
                    "term":"Melding",
                    "title":"Saksinnhold",
                    "path":"/Barnevern/Sak/Melding/Saksinnhold/@Kode",
                    "items":[
                    { "code":"1", "validFrom":"2013-01-01", "title":"Foreldres somatiske sykdom" },
                    { "code":"2", "validFrom":"2013-01-01", "title":"Foreldres psykiske problem/ lidelse" },
                    { "code":"3", "validFrom":"2013-01-01", "title":"Foreldres rusmisbruk" },
                    { "code":"4", "validFrom":"2013-01-01", "validTo":"2020-12-31", "title":"Foreldres manglende
                    foreldreferdigheter", "changeDescription":"4 deles i 20, 21, 22, 23 og 24" },
                    { "code":"20", "validFrom":"2021-01-01", "title":"Foreldres manglende beskyttelse av barnet" },
                    { "code":"21", "validFrom":"2021-01-01", "title":"Foreldres manglende stimulering og regulering av
                    barnet" },
                    { "code":"22", "validFrom":"2021-01-01", "title":"Foreldres manglende sensitivitet og
                    følelsesmessige tilgjengelighet for barnet" },
                    { "code":"23", "validFrom":"2021-01-01", "title":"Foreldres manglende oppfølging av barnets behov
                    for barnehage, skole og pedagogiske tjenester" },
                    { "code":"24", "validFrom":"2021-01-01", "title":"Konflikt mellom foreldre som ikke bor sammen" },
                    { "code":"28", "validFrom":"2021-01-01", "title":"Foreldres manglende oppfølging av barnets behov
                    for helsetjenester" },
                    { "code":"29", "validFrom":"2023-01-01", "title":"Foreldres kognitive vansker" },
                    { "code":"31", "validFrom":"2023-01-01", "title":"Foreldre har vedvarende økonomiske
                    problemer/vedvarende lavinntekt" },
                    { "code":"5", "validFrom":"2013-01-01", "title":"Foreldres kriminalitet" },
                    { "code":"6", "validFrom":"2013-01-01", "title":"Høy grad av konflikt hjemme" },
                    { "code":"7", "validFrom":"2013-01-01", "title":"Vold i hjemmet/ barnet vitne til vold i
                    nærerelasjoner" },
                    { "code":"8", "validFrom":"2013-01-01", "title":"Foreldres manglende ivaretakelse av grunnleggendeog
                    hverdagslig omsorg for barnet" },
                    { "code":"9", "validFrom":"2013-01-01", "title":"Barnet utsatt for fysisk vold" },
                    { "code":"10", "validFrom":"2013-01-01", "title":"Barnet utsatt for psykisk vold" },
                    { "code":"11", "validFrom":"2013-01-01", "title":"Barnet utsatt for seksuelle overgrep" },
                    { "code":"12", "validFrom":"2013-01-01", "title":"Barnet mangler omsorgsperson" },
                    { "code":"13", "validFrom":"2013-01-01", "validTo":"2020-12-31", "title":"Barnet har nedsatt
                    funksjonsevne" },
                    { "code":"14", "validFrom":"2013-01-01", "title":"Barnets psykiske problem/lidelse" },
                    { "code":"15", "validFrom":"2013-01-01", "title":"Barnets rusmisbruk" },
                    { "code":"16", "validFrom":"2013-01-01", "validTo":"2020-12-31", "title":"Barnets atferd/
                    kriminalitet", "changeDescription":"16 deles i 25 og 26" },
                    { "code":"17", "validFrom":"2013-01-01", "title":"Barnets relasjonsvansker (mistanke om eller
                    diagnostiserte tilknytningsvansker, problematikk knyttet til samspillet mellom barn og
                    omsorgspersoner) " },
                    { "code":"25", "validFrom":"2021-01-01", "title":"Barnets atferd" },
                    { "code":"26", "validFrom":"2021-01-01", "title":"Barnets kriminelle handlinger" },
                    { "code":"27", "validFrom":"2021-01-01", "title":"Barnet utsatt for menneskehandel" },
                    { "code":"30", "validFrom":"2023-01-01", "title":"Barnets kognitive vansker" },
                    { "code":"18", "validFrom":"2013-01-01", "title":"Andre forhold ved foreldre/ familien (krever
                    presisering) (Denne kategorien skal kunne benyttes dersom ingen av kategoriene 1-27 passer.)" },
                    { "code":"19", "validFrom":"2013-01-01", "title":"Andre forhold ved barnets situasjon (krever
                    presisering) (Denne kategorien skal kunne benyttes dersom ingen av kategoriene 1-27 passer.)" }
                    ]
                    }
                </xs:appinfo>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="2"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="20"/>
					<xs:enumeration value="21"/>
					<xs:enumeration value="22"/>
					<xs:enumeration value="23"/>
					<xs:enumeration value="24"/>
					<xs:enumeration value="28"/>
					<xs:enumeration value="29"/>
					<xs:enumeration value="31"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
					<xs:enumeration value="10"/>
					<xs:enumeration value="11"/>
					<xs:enumeration value="12"/>
					<xs:enumeration value="13"/>
					<xs:enumeration value="14"/>
					<xs:enumeration value="15"/>
					<xs:enumeration value="16"/>
					<xs:enumeration value="17"/>
					<xs:enumeration value="25"/>
					<xs:enumeration value="26"/>
					<xs:enumeration value="27"/>
					<xs:enumeration value="30"/>
					<xs:enumeration value="18"/>
					<xs:enumeration value="19"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute ref="Presisering"/>
	</xs:complexType>
	<!-- Undersøkelse -->
	<xs:complexType name="UndersokelseType">
		<xs:annotation>
			<xs:documentation>TODO: Forklaring av begrep mangler</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Vedtaksgrunnlag" type="SaksinnholdType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="UtvidetFrist" minOccurs="0">
				<xs:complexType>
					<xs:attribute ref="StartDato" use="required">
						<xs:annotation>
							<xs:documentation>
                                Dato mottak søknad om utvidet frist.
                            </xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Innvilget">
						<xs:annotation>
							<xs:documentation>
                                1 = Ja
                                2 = Nei
                            </xs:documentation>
							<xs:appinfo xml:lang="json">
                                {
                                "type":"codelist",
                                "term":"Undersokelse",
                                "title":"UtvidetFrist",
                                "path":" /Barnevern/Sak/Undersokelse/UtvidetFrist/@Innvilget",
                                "items":[
                                {"code":"1", "validFrom":"2022-01-01", "title":"Ja" },
                                {"code":"2", "validFrom":"2022-01-01", "title":"Nei" }
                                ]
                                }
                            </xs:appinfo>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="1"/>
								<xs:enumeration value="1"/>
								<xs:enumeration value="2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="Konklusjon" minOccurs="0">
				<xs:complexType>
					<xs:attribute ref="SluttDato" use="required">
						<xs:annotation>
							<xs:documentation>
                                Dato undersøkelse konkludert.
                            </xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Kode" use="required">
						<xs:annotation>
							<xs:documentation>
                                1 = Barneverntjenesten fatter vedtak om tiltak
                                2 = Begjæring om tiltak for fylkesnemnda
                                3 = Undersøkelsen henlagt etter barnverntjenestens vurdering (kategorien gjelder når
                                barneverntjenesten vurderer at vilkår for å sette inn tiltak ikke er oppfylt)
                                4 = Undersøkelsen henlagt etter partens ønske (kategorien gjelder når barneverntjenesten
                                vurderer at vilkår for å sette inn tiltak etter BVL2021 §§ 3-1 til 3-5 (tidligere
                                BVL1992 § 4-4) er til stede, men saken henlegges fordi foreldre/barnet ikke samtykker
                                til tiltak. Gjelder bare når det er snakk om hjelpetiltak som foreldre/barn kan takke
                                nei til.)
                                5 = Undersøkelsen henlagt som følge av flytting (kategorien gjelder når undersøkelsessak
                                henlegges fordi barnet flytter til en ny kommune. Bør også innebære et underpunkt der
                                barneverntjenesten må oppgi om saken er meldt videre til barnets nye oppholdskommune,
                                obligatorisk ja/nei svar) (krever presisering)
                                6 = Undersøkelsen henlagt etter henvisning til annen instans
                            </xs:documentation>
							<xs:appinfo xml:lang="json">
                                {
                                "type":"codelist",
                                "term":"Undersokelse",
                                "title":"Konklusjon",
                                "path":"/Barnevern/Sak/Undersokelse/Konklusjon/@Kode",
                                "items":[
                                { "code":"1", "validFrom":"2013-01-01", "title":"Barneverntjenesten fatter vedtak om
                                tiltak"},
                                { "code":"2", "validFrom":"2013-01-01", "title":"Begjæring om tiltak for fylkesnemnda"},
                                { "code":"3", "validFrom":"2013-01-01", "title":"Undersøkelsen henlagt etter
                                barnverntjenestens vurdering (kategorien gjelder når barneverntjenesten vurderer at
                                vilkår for å sette inn tiltak ikke er oppfylt)" },
                                { "code":"4", "validFrom":"2013-01-01", "title":"Undersøkelsen henlagt etter partens
                                ønske (kategorien gjelder når barneverntjenesten vurderer at vilkår for å sette inn
                                tiltak etter BVL2021 §§ 3-1 til 3-5 (tidligere BVL1992 § 4-4) er til stede, men saken
                                henlegges fordi foreldre/barnet ikke samtykker til tiltak. Gjelder bare når det er snakk
                                om hjelpetiltak som foreldre/barn kan takke nei til.)" },
                                { "code":"5", "validFrom":"2013-01-01", "title":"Undersøkelsen henlagt som følge av
                                flytting (kategorien gjelder når undersøkelsessak henlegges fordi barnet flytter til en
                                ny kommune. Bør også innebære et underpunkt der barneverntjenesten må oppgi om saken er
                                meldt videre til barnets nye oppholdskommune, obligatorisk ja/nei svar) (krever
                                presisering)" },
                                { "code":"6", "validFrom":"2022-01-01", "title":"Undersøkelsen henlagt etter henvisning
                                til annen instans" }
                                ]
                                }
                            </xs:appinfo>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:maxLength value="1"/>
								<xs:enumeration value="1"/>
								<xs:enumeration value="2"/>
								<xs:enumeration value="3"/>
								<xs:enumeration value="4"/>
								<xs:enumeration value="5"/>
								<xs:enumeration value="6"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute ref="Presisering"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="Id" use="required"/>
		<xs:attribute ref="MigrertId"/>
		<xs:attribute ref="StartDato" use="required">
			<xs:annotation>
				<xs:documentation>
                    Dato undersøkelse startet.
                    Samme verdi som for SluttDato i koplet MeldingType hvis konklusjon (i MeldingType) har kode = '2':
                    'Ikke henlagt'.
                </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute ref="ErSlettet"/>
	</xs:complexType>
	<!-- Kategori -->
	<xs:complexType name="KategoriType">
		<xs:attribute name="Kode" use="required">
			<xs:annotation>
				<xs:documentation>
                    1.1 = Barnvernsinstitusjoner (gjelder alle typer barnevernsinstitusjoner)
                    1.2 = Plassering i institusjon etter annen lov
                    1.99 = Andre tiltak (krever presisering)
                    2.1 = Fosterhjem i familie og nære nettverk
                    2.2 = Fosterhjem utenfor familie og nære nettverk
                    2.3 = Statlige familiehjem (gjelder fosterhjem som staten har ansvar for)
                    2.4 = Fosterhjem etter BVL2021 § 6-3 (tidligere BVL1992 § 4-27)
                    2.5 = Beredskapshjem utenom familie og nære nettverk
                    2.6 = Midlertidig hjem i familie og nære nettverk
                    2.99 = Andre tiltak (krever presisering)
                    3.1 = MST
                    3.2 = PMTO
                    3.3 = FFT
                    3.4 = Weber Stratton
                    3.5 = ICDP
                    3.6 = Marte Meo
                    3.7 = Andre hjemmebaserte tiltak (gjelder andre tiltak i hjemmet som følger en spesiell metodikk og
                    som gjenomføres på en systematisk måte) (krever presisering)
                    3.8 = Sentre for foreldre og barn
                    3.9 = Vedtak om råd og veiledning
                    3.10 = Hjemmekonsulent/miljøarbeider
                    3.99 = Andre tiltak (krever presisering)
                    4.1 = Barnehage
                    4.2 = SFO/ Aktivitetsskole
                    4.3 = Fritidsaktiviteter
                    4.4 = Økonomisk hjelp for øvrig (gjelder økonomisk hjelp som ikke inngår i 4.1, 4.2 og 4.3)
                    4.5 = Besøkshjem/ avlastningstiltak
                    4.6 = Støttekontakt
                    4.7 = Samtalegrupper/ barnegrupper (gjelder strukturerte samtale- og aktivitetstilbud for
                    aldersbestemte grupper).
                    4.8 = Utdanning og arbeid (gjelder oppfølging og støtte for å styrke barn og ungdoms tilknytning til
                    skole eller arbeid)
                    4.9 = ART
                    4.99 = Andre tiltak (krever presisering)
                    5.1 = Frivillig tilsyn i hjemmet (gjelder der foreldre har samtykket til tilsyn)
                    5.2 = Pålagt tilsyn i hjemmet (gjelder der tilsyn skjer etter vedtak i fylkesnemnd)
                    5.3 = Tilsyn under samvær
                    5.4 = Ruskontroll
                    5.99 = Andre tiltak (krever presisering)
                    6.1 = Familieråd
                    6.2 = Nettverksmøter (Strukturerte dialogmøter som består av barneverntjenesten, foreldre og ungdom
                    og andre personer som er viktige i ungdommens liv. Invitasjon av deltakere skjer i samråd mellom
                    barneverntjenesten, ungdom og foreldre)
                    6.3 = Individuell plan
                    6.4 = Deltakelse i ansvarsgruppe
                    6.99 = Andre tiltak (krever presisering)
                    7.1 = BVL2021 § 3-7 (tidligere BVL1992 § 4-10) medisinsk undersøkelse og behandling
                    7.2 = BVL2021 § 3-8 (tidligere BVL1992 § 4-11) behandling av barn med særlige opplæringsbehov
                    7.3 = Psykisk helsehjelp for barn og unge (Gjelder ikke ved henvisninger, men når barn får
                    behandling av psykolog eller innen psykisk helsevern/BUP)
                    7.99 = Andre tiltak (krever presisering)
                    8.1 = Økonomisk hjelp til egen bolig/hybel
                    8.2 = Bolig med oppfølging (inkluderer også bofellesskap)
                    8.3 = Botreningskurs
                    8.99 = Andre tiltak (krever presisering)
                </xs:documentation>
				<xs:appinfo xml:lang="json">
                    {
                    "type":"codelist",
                    "term":"Tiltak",
                    "title":"Kategori",
                    "path":"/Barnevern/Sak/Tiltak/Kategori/@Kode",
                    "items":[
                    {"code" : "1.1", "validFrom" : "2013-01-01", "title" : "Barnvernsinstitusjoner (gjelder alle typer
                    barnevernsinstitusjoner)"},
                    {"code" : "1.2", "validFrom" : "2013-01-01", "title" : "Plassering i institusjon etter annen lov"},
                    {"code" : "1.99", "validFrom" : "2013-01-01", "title" : "Andre tiltak (krever presisering)"},
                    {"code" : "2.1", "validFrom" : "2013-01-01", "title" : "Fosterhjem i familie og nære nettverk"},
                    {"code" : "2.2", "validFrom" : "2013-01-01", "title" : "Fosterhjem utenfor familie og nære
                    nettverk"},
                    {"code" : "2.3", "validFrom" : "2013-01-01", "title" : "Statlige familiehjem (gjelder fosterhjem som
                    staten har ansvar for)"},
                    {"code" : "2.4", "validFrom" : "2013-01-01", "title" : "Fosterhjem etter BVL2021 § 6-3 (tidligere
                    BVL1992 § 4-27)"},
                    {"code" : "2.5", "validFrom" : "2013-01-01", "title" : "Beredskapshjem utenom familie og nære
                    nettverk"},
                    {"code" : "2.6", "validFrom" : "2021-01-01", "title" : "Midlertidig hjem i familie og nære
                    nettverk"},
                    {"code" : "2.99", "validFrom" : "2013-01-01", "title" : "Andre tiltak (krever presisering)"},
                    {"code" : "3.1", "validFrom" : "2013-01-01", "title" : "MST"},
                    {"code" : "3.2", "validFrom" : "2013-01-01", "title" : "PMTO"},
                    {"code" : "3.3", "validFrom" : "2013-01-01", "title" : "FFT"},
                    {"code" : "3.4", "validFrom" : "2013-01-01", "title" : "Weber Stratton"},
                    {"code" : "3.5", "validFrom" : "2013-01-01", "title" : "ICDP"},
                    {"code" : "3.6", "validFrom" : "2013-01-01", "title" : "Marte Meo"},
                    {"code" : "3.7", "validFrom" : "2013-01-01", "title" : "Andre hjemmebaserte tiltak (gjelder andre
                    tiltak i hjemmet som følger en spesiell metodikk og som gjenomføres på en systematisk måte) (krever
                    presisering)"},
                    {"code" : "3.8", "validFrom" : "2013-01-01", "title" : "Sentre for foreldre og barn"},
                    {"code" : "3.9", "validFrom" : "2013-01-01", "title" : "Vedtak om råd og veiledning"},
                    {"code" : "3.10", "validFrom" : "2013-01-01", "title" : "Hjemmekonsulent/miljøarbeider"},
                    {"code" : "3.99", "validFrom" : "2013-01-01", "title" : "Andre tiltak (krever presisering)"},
                    {"code" : "4.1", "validFrom" : "2013-01-01", "title" : "Barnehage"},
                    {"code" : "4.2", "validFrom" : "2013-01-01", "title" : "SFO/ Aktivitetsskole"},
                    {"code" : "4.3", "validFrom" : "2013-01-01", "title" : "Fritidsaktiviteter"},
                    {"code" : "4.4", "validFrom" : "2013-01-01", "title" : "Økonomisk hjelp for øvrig (gjelder økonomisk
                    hjelp som ikke inngår i 4.1, 4.2 og 4.3)"},
                    {"code" : "4.5", "validFrom" : "2013-01-01", "title" : "Besøkshjem/ avlastningstiltak"},
                    {"code" : "4.6", "validFrom" : "2013-01-01", "title" : "Støttekontakt"},
                    {"code" : "4.7", "validFrom" : "2013-01-01", "title" : "Samtalegrupper/ barnegrupper
                    (gjelderstrukturerte samtale- og aktivitetstilbud for aldersbestemte grupper)."},
                    {"code" : "4.8", "validFrom" : "2013-01-01", "title" : "Utdanning og arbeid (gjelder oppfølging og
                    støtte for å styrke barn og ungdoms tilknytning til skole eller arbeid)"},
                    {"code" : "4.9", "validFrom" : "2013-01-01", "title" : "ART"},
                    {"code" : "4.99", "validFrom" : "2013-01-01", "title" : "Andre tiltak (krever presisering)"},
                    {"code" : "5.1", "validFrom" : "2013-01-01", "title" : "Frivillig tilsyn i hjemmet (gjelder der
                    foreldre har samtykket til tilsyn)"},
                    {"code" : "5.2", "validFrom" : "2013-01-01", "title" : "Pålagt tilsyn i hjemmet (gjelder der tilsyn
                    skjer etter vedtak i fylkesnemnd)"},
                    {"code" : "5.3", "validFrom" : "2013-01-01", "title" : "Tilsyn under samvær"},
                    {"code" : "5.4", "validFrom" : "2013-01-01", "title" : "Ruskontroll"},
                    {"code" : "5.99", "validFrom" : "2013-01-01", "title" : "Andre tiltak (krever presisering)"},
                    {"code" : "6.1", "validFrom" : "2013-01-01", "title" : "Familieråd"},
                    {"code" : "6.2", "validFrom" : "2013-01-01", "title" : "Nettverksmøter (Strukturerte dialogmøter som
                    består av barneverntjenesten, foreldre og ungdom og andre personer som er viktige i ungdommens liv.
                    Invitasjon av deltakere skjer i samråd mellom barneverntjenesten, ungdom og foreldre)"},
                    {"code" : "6.3", "validFrom" : "2013-01-01", "title" : "Individuell plan"},
                    {"code" : "6.4", "validFrom" : "2013-01-01", "title" : "Deltakelse i ansvarsgruppe"},
                    {"code" : "6.99", "validFrom" : "2013-01-01", "title" : "Andre tiltak (krever presisering)"},
                    {"code" : "7.1", "validFrom" : "2013-01-01", "title" : "BVL2021 § 3-7 (tidligere BVL1992 § 4-10)
                    medisinsk undersøkelse og behandling"},
                    {"code" : "7.2", "validFrom" : "2013-01-01", "title" : "BVL2021 § 3-8 (tidligere BVL1992 § 4-11)
                    behandling av barn med særlige opplæringsbehov"},
                    {"code" : "7.3", "validFrom" : "2013-01-01", "title" : "Psykisk helsehjelp for barn og unge (Gjelder
                    ikke ved henvisninger, men når barn får behandling av psykolog eller innen psykisk helsevern/BUP)"},
                    {"code" : "7.99", "validFrom" : "2013-01-01", "title" : "Andre tiltak (krever presisering)"},
                    {"code" : "8.1", "validFrom" : "2013-01-01", "title" : "Økonomisk hjelp til egen bolig/hybel"},
                    {"code" : "8.2", "validFrom" : "2013-01-01", "title" : "Bolig med oppfølging (inkluderer også
                    bofellesskap)"},
                    {"code" : "8.3", "validFrom" : "2013-01-01", "title" : "Botreningskurs"},
                    {"code" : "8.99", "validFrom" : "2013-01-01", "title" : "Andre tiltak (krever presisering)"}
                    ]
                    }
                </xs:appinfo>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="3"/>
					<xs:maxLength value="5"/>
					<xs:enumeration value="1.1"/>
					<xs:enumeration value="1.2"/>
					<xs:enumeration value="1.99"/>
					<xs:enumeration value="2.1"/>
					<xs:enumeration value="2.2"/>
					<xs:enumeration value="2.3"/>
					<xs:enumeration value="2.4"/>
					<xs:enumeration value="2.5"/>
					<xs:enumeration value="2.6"/>
					<xs:enumeration value="2.99"/>
					<xs:enumeration value="3.1"/>
					<xs:enumeration value="3.2"/>
					<xs:enumeration value="3.3"/>
					<xs:enumeration value="3.4"/>
					<xs:enumeration value="3.5"/>
					<xs:enumeration value="3.6"/>
					<xs:enumeration value="3.7"/>
					<xs:enumeration value="3.8"/>
					<xs:enumeration value="3.9"/>
					<xs:enumeration value="3.10"/>
					<xs:enumeration value="3.99"/>
					<xs:enumeration value="4.1"/>
					<xs:enumeration value="4.2"/>
					<xs:enumeration value="4.3"/>
					<xs:enumeration value="4.4"/>
					<xs:enumeration value="4.5"/>
					<xs:enumeration value="4.6"/>
					<xs:enumeration value="4.7"/>
					<xs:enumeration value="4.8"/>
					<xs:enumeration value="4.9"/>
					<xs:enumeration value="4.99"/>
					<xs:enumeration value="5.1"/>
					<xs:enumeration value="5.2"/>
					<xs:enumeration value="5.3"/>
					<xs:enumeration value="5.4"/>
					<xs:enumeration value="5.99"/>
					<xs:enumeration value="6.1"/>
					<xs:enumeration value="6.2"/>
					<xs:enumeration value="6.3"/>
					<xs:enumeration value="6.4"/>
					<xs:enumeration value="6.99"/>
					<xs:enumeration value="7.1"/>
					<xs:enumeration value="7.2"/>
					<xs:enumeration value="7.3"/>
					<xs:enumeration value="7.99"/>
					<xs:enumeration value="8.1"/>
					<xs:enumeration value="8.2"/>
					<xs:enumeration value="8.3"/>
					<xs:enumeration value="8.99"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute ref="Presisering">
			<xs:annotation>
				<xs:documentation>
                    Globalt attributt for presisering. Benyttes hvis tilhørende kode krever presisering.
                </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!-- Opphevelse -->
	<xs:complexType name="OpphevelseType">
		<xs:attribute name="Kode" use="required">
			<xs:annotation>
				<xs:documentation>
                    1 = Barnet tilbakeført til foreldre/ familien jamfør BVL2021 § 5-7 (tidligere BVL1992 § 4-21)
                    2 = Barnet har fylt 18 år
                    3 = Adopsjon BVL2021 § 5-10 (tidligere BVL1992 § 4-20)
                    4 = Annet (krever presisering)
                </xs:documentation>
				<xs:appinfo xml:lang="json">
                    {
                    "type":"codelist",
                    "term":"Tiltak",
                    "title":"Opphevelse",
                    "path":"/Barnevern/Sak/Tiltak/Opphevelse/@Kode",
                    "items":[
                    {"code" : "1", "validFrom" : "2013-01-01", "title" : "Barnet tilbakeført til foreldre/ familien
                    jamfør BVL2021 § 5-7 (tidligere BVL1992 § 4-21)"},
                    {"code" : "2", "validFrom" : "2013-01-01", "title" : "Barnet har fylt 18 år"},
                    {"code" : "3", "validFrom" : "2013-01-01", "title" : "Adopsjon BVL2021 § 5-10 (tidligere BVL1992
                    §4-20)"},
                    {"code" : "4", "validFrom" : "2013-01-01", "title" : "Annet (krever presisering)"}
                    ]
                    }
                </xs:appinfo>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="1"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute ref="Presisering"/>
	</xs:complexType>
	<!-- Oppfølging -->
	<xs:complexType name="OppfolgingType">
        <xs:sequence>
            <xs:element name="Hyppighet" type="OppfolgingHyppighetType" maxOccurs="unbounded"/>
            <xs:element name="Utfort" type="OppfolgingUtfortType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Oppfolging i fosterhjem utført av uavhengig part.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OppfolgingHyppighetType">
        <xs:attribute ref="Id" use="required"/>
        <xs:attribute ref="StartDato" use="required"/>
        <xs:attribute name="Kode" use="required">
            <xs:annotation>
                <xs:documentation>
                    4 = 4 Oppfolging pr. år (standard)
                    2 = 2 Oppfolging pr. år (redusert)
                </xs:documentation>
                <xs:appinfo xml:lang="json">
                    {
                    "type":"codelist",
                    "term":"TiltakOppfolgingHyppighet",
                    "title":"Hyppighet",
                    "path":"/Barnevern/Sak/Tiltak/Oppfolging/Hyppighet/@Kode",
                    "items":[
                    {"code":"4", "validFrom":"2022-01-01", "title":"4 Oppfølginger pr. år (standard)" },
                    {"code":"2", "validFrom":"2022-01-01", "title":"2 Oppfølginger pr. år (redusert)" }
                    ]
                    }
                </xs:appinfo>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="1"/>
                    <xs:enumeration value="4"/>
                    <xs:enumeration value="2"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="OppfolgingUtfortType">
        <xs:attribute ref="Id" use="required"/>
        <xs:attribute name="UtfortDato" type="xs:date" use="required">
            <xs:annotation>
                <xs:documentation>Dato oppfølgingsbesøk utført.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
	<!-- Tilsyn -->
	<xs:complexType name="TilsynType">
		<xs:sequence>
			<xs:element name="Ansvarlig" type="TilsynAnsvarligType" maxOccurs="unbounded"/>
			<xs:element name="Hyppighet" type="TilsynHyppighetType" maxOccurs="unbounded"/>
			<xs:element name="Utfort" type="TilsynUtfortType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Tilsyn i fosterhjem utført av uavhengig part.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TilsynAnsvarligType">
		<xs:attribute ref="Id" use="required"/>
		<xs:attribute ref="StartDato" use="required"/>
		<xs:attribute name="Kommunenummer" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="\d{4}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TilsynHyppighetType">
		<xs:attribute ref="Id" use="required"/>
		<xs:attribute ref="StartDato" use="required"/>
		<xs:attribute name="Kode" use="required">
			<xs:annotation>
				<xs:documentation>
                    4 = 4 tilsyn pr. år (standard)
                    2 = 2 tilsyn pr. år (redusert)
                </xs:documentation>
				<xs:appinfo xml:lang="json">
                    {
                    "type":"codelist",
                    "term":"TiltakTilsynHyppighet",
                    "title":"Hyppighet",
                    "path":"/Barnevern/Sak/Tiltak/Tilsyn/Hyppighet/@Kode",
                    "items":[
                    {"code":"4", "validFrom":"2022-01-01", "title":"4 tilsyn pr. år (standard)" },
                    {"code":"2", "validFrom":"2022-01-01", "title":"2 tilsyn pr. år (redusert)" }
                    ]
                    }
                </xs:appinfo>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="1"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="2"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TilsynUtfortType">
		<xs:attribute ref="Id" use="required"/>
		<xs:attribute name="UtfortDato" type="xs:date" use="required">
			<xs:annotation>
				<xs:documentation>Dato tilsynsbesøk utført.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!-- Oversendelse -->
	<xs:complexType name="OversendelsePrivatKravType">
		<xs:sequence>
			<xs:element name="Konklusjon" minOccurs="0">
				<xs:complexType>
					<xs:attribute ref="SluttDato" use="required">
						<xs:annotation>
							<xs:documentation>Dato oversendt fylkesnemnd.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Kode" use="required">
						<xs:annotation>
							<xs:documentation>
                                1 = Sendt til fylkesnemnd
                                2 = Krav bortfalt
                                9 = Annet (krever presisering)
                            </xs:documentation>
							<xs:appinfo xml:lang="json">
                                {
                                "type":"codelist",
                                "term":"Vedtak",
                                "title":"Status",
                                "path":"/Barnevern/Sak/Vedtak/Krav/@Kode",
                                "items":[
                                {"code" : "1", "validFrom" : "2023-01-01", "title" : "Sendt til fylkesnemnd"},
                                {"code" : "2", "validFrom" : "2023-01-01", "title" : "Krav bortfalt"},
                                {"code" : "9", "validFrom" : "2023-01-01", "title" : "Annet (krever presisering)"}
                                ]
                                }
                            </xs:appinfo>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="1"/>
								<xs:enumeration value="1"/>
								<xs:enumeration value="2"/>
								<xs:enumeration value="9"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute ref="Presisering"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="Id" use="required"/>
		<xs:attribute ref="StartDato" use="required">
			<xs:annotation>
				<xs:documentation>Dato mottak av krav.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="OversendelseBarneverntjenesteType">
		<xs:annotation>
			<xs:documentation>TODO: Forklaring for begrep mangler</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Lovhjemmel" type="LovhjemmelType"/>
			<xs:element name="JmfrLovhjemmel" type="LovhjemmelType" minOccurs="0" maxOccurs="3"/>
		</xs:sequence>
		<xs:attribute ref="Id" use="required"/>
		<xs:attribute ref="MigrertId"/>
		<xs:attribute ref="StartDato" use="required">
			<xs:annotation>
				<xs:documentation>Dato oversendt fylkesnemnd.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute ref="ErSlettet"/>
	</xs:complexType>
	<!-- Vedtak -->
	<xs:complexType name="VedtakType">
		<xs:annotation>
			<xs:documentation>TODO: Forklaring for begrep mangler</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Lovhjemmel" type="LovhjemmelType"/>
			<xs:element name="JmfrLovhjemmel" type="LovhjemmelType" minOccurs="0" maxOccurs="3"/>
			<xs:element name="Krav" type="OversendelsePrivatKravType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Krav fra privat part om endring av tidligere vedtak fattet av fylkesnemnd.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute ref="Id" use="required"/>
					<xs:attribute name="EndretDato" type="xs:date" use="required"/>
					<xs:attribute name="Kode" use="required">
						<xs:annotation>
							<xs:documentation>
                                1 = Godkjent
                                2 = Begjæring oversendt nemnd
                                3 = Utgår / Bortfalt etter BVL
                                4 = Avslått / Avsluttet
                            </xs:documentation>
							<xs:appinfo xml:lang="json">
                                {
                                "type":"codelist",
                                "term":"Vedtak",
                                "title":"Status",
                                "path":"/Barnevern/Sak/Vedtak/Status/@Kode",
                                "items":[
                                {"code" : "1", "validFrom" : "2022-01-01", "title" : "Godkjent"},
                                {"code" : "2", "validFrom" : "2022-01-01", "title" : "Begjæring oversendt nemnd "},
                                {"code" : "3", "validFrom" : "2022-01-01", "title" : "Utgår / Bortfalt etter BVL "},
                                {"code" : "4", "validFrom" : "2022-01-01", "title" : "Avslått / Avsluttet "}
                                ]
                                }
                            </xs:appinfo>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="1"/>
								<xs:enumeration value="2"/>
								<xs:enumeration value="3"/>
								<xs:enumeration value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="Konklusjon" minOccurs="0">
				<xs:complexType>
					<xs:attribute ref="SluttDato" use="required">
						<xs:annotation>
							<xs:documentation>
                                Bortfallsdato vedtak.
                            </xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="Id" use="required"/>
		<xs:attribute ref="MigrertId"/>
		<xs:attribute ref="StartDato" use="required">
			<xs:annotation>
				<xs:documentation>
                    Dato vedtak fattet.
                </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute ref="ErSlettet"/>
	</xs:complexType>
	<!-- Ettervern -->
	<xs:complexType name="EttervernType">
		<xs:annotation>
			<xs:documentation>TODO: Forklaring for begrep mangler</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Konklusjon" minOccurs="0">
				<xs:complexType>
					<xs:attribute ref="SluttDato" use="required"/>
					<xs:attribute name="Kode" use="required">
						<xs:annotation>
							<xs:documentation>
                                1 = Gitt tilbud om tiltak, akseptert
                                2 = Gitt tilbud om tiltak, avslått av bruker grunnet ønske om annet tiltak
                                3 = Ikke lenger tiltak etter BVL, etter brukers ønske
                            </xs:documentation>
							<xs:appinfo xml:lang="json">
                                {
                                "type":"codelist",
                                "term":"Ettervern",
                                "title":"Konklusjon",
                                "path":"/Barnevern/Sak/Ettervern/Konklusjon/@Kode",
                                "items":[
                                {"code" : "1", "validFrom" : "2022-01-01", "title" : "Gitt tilbud om tiltak,
                                akseptert"},
                                {"code" : "2", "validFrom" : "2022-01-01", "title" : "Gitt tilbud om tiltak, avslått av
                                bruker grunnet ønske om annet tiltak "},
                                {"code" : "3", "validFrom" : "2022-01-01", "title" : "Ikke lenger tiltak etter BVL,
                                etter brukers ønske"}
                                ]
                                }
                            </xs:appinfo>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="1"/>
								<xs:enumeration value="1"/>
								<xs:enumeration value="2"/>
								<xs:enumeration value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="Id" use="required"/>
		<xs:attribute ref="MigrertId"/>
		<xs:attribute name="TilbudSendtDato" type="xs:date" use="required"/>
		<xs:attribute ref="ErSlettet"/>
	</xs:complexType>
	<xs:simpleType name="IdType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UuidIdType">
		<xs:restriction base="xs:string">
			<xs:length value="36"/>
			<xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-5][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BegrepsType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Personalia"/>
			<xs:enumeration value="Melding"/>
			<xs:enumeration value="Undersokelse"/>
			<xs:enumeration value="Plan"/>
			<xs:enumeration value="Tiltak"/>
			<xs:enumeration value="Vedtak"/>
			<xs:enumeration value="Status"/>
			<xs:enumeration value="Ettervern"/>
			<xs:enumeration value="OversendelseFylkesnemnd"/>
			<xs:enumeration value="Flytting"/>
			<xs:enumeration value="Relasjon"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="RelasjonType">
		<xs:annotation>
			<xs:documentation>TODO: Forklaring for begrep mangler</xs:documentation>
		</xs:annotation>
		<xs:attribute ref="Id" use="required"/>
		<xs:attribute name="FraId" type="IdType" use="required"/>
		<xs:attribute name="FraType" type="BegrepsType" use="required"/>
		<xs:attribute name="TilId" type="UuidIdType" use="required"/>
		<xs:attribute name="TilType" type="BegrepsType" use="required"/>
		<xs:attribute ref="ErSlettet"/>
	</xs:complexType>
	<xs:complexType name="FlyttingType">
		<xs:sequence>
			<xs:element name="ArsakFra" type="ArsakFraType"/>
			<xs:element name="FlyttingTil" type="FlyttingTilType"/>
		</xs:sequence>
		<xs:attribute ref="Id" use="required"/>
		<xs:attribute ref="MigrertId"/>
		<xs:attribute ref="SluttDato" use="required"/>
		<xs:attribute ref="ErSlettet"/>
	</xs:complexType>
	<xs:complexType name="ArsakFraType">
		<xs:attribute name="Kode" use="required">
			<xs:annotation>
				<xs:documentation>
                    1 Årsaker til flytting fra fosterhjem:

                    1.1 Barnevernstjenesten avslutter kontrakt med fosterhjem:

                    1.1.1 = Omsorgsplasseringen opphører
                    1.1.2 = Barnet blir myndig
                    1.1.3 = Fosterforeldre klarer ikke å dekke barnets behov (forhold ved fosterhjemmet)
                    1.1.4 = Barnet har behov for annet plasseringssted (institusjon, TFCO-fosterhjem, forsterket
                    fosterhjem, osv.
                    1.1.5 = Andre grunner; (f.eks. uenighet om oppdragets omfang, økonomi, forsterkningstiltak mv.)
                    (krever presisering)

                    1.2 Fosterforeldre avslutter kontrakten med barnevernet:

                    1.2.1 = Barnet har behov fosterforeldre ikke kan dekke
                    1.2.2 = Endring i fosterforeldres livssituasjon (skilsmisse, død, osv.)
                    1.2.3 = Andre grunner; (f.eks. uenighet om oppdragets omfang, økonomi, forsterkningstiltak,
                    manglende eller lite effektiv veiledning, mv.) (krever presisering)

                    1.3 = Barnet flytter sammen med fosterforeldre til nytt bosted

                    2 Årsaker til flytting fra institusjon:

                    2.1 = Avsluttet i henhold til plan ved oppstart av institusjonsoppholdet
                    2.2 = Institusjonen barnet bor i klarer ikke å dekke barnets behov (manglende kompetanse hos
                    ansatte, beboersammensetning, fysiske forhold ved institusjonen osv)
                    2.3 = Barnet har behov for annen type plasseringstiltak (annen type institusjon, TFCO-fosterhjem,
                    forsterket fosterhjem, osv.
                    2.4 = Barnet blir myndig og velger selv å flytte ut
                    2.5 = Barnet trekker samtykke
                    2.6 = Foreldre trekker samtykke
                    2.7 = Ikke medhold i fylkesnemnda
                    2.8 = Uenighet mellom barnevernstjenesten og Bufetat om oppdragets omfang og/eller økonomi,
                    2.9 = Andre grunner (krever presisering)
                </xs:documentation>
				<xs:appinfo xml:lang="json">
                    {
                    "type":"codelist",
                    "term":"Flytting",
                    "title":"ArsakFra",
                    "path":"/Barnevern/Sak/Tiltak/Opphevelse/Flytting/ArsakFra/@Kode",
                    "items":[
                    { "code":"1.1.1", "validFrom":"2022-01-01", "title":"Omsorgsplasseringen opphører " },
                    { "code":"1.1.2", "validFrom":"2022-01-01", "title":"Barnet blir myndig " },
                    { "code":"1.1.3", "validFrom":"2022-01-01", "title":"Fosterforeldre klarer ikke å dekke barnets
                    behov (forhold ved fosterhjemmet) " },
                    { "code":"1.1.4", "validFrom":"2022-01-01", "title":"Barnet har behov for annet plasseringssted
                    (institusjon, TFCO-fosterhjem, forsterket fosterhjem, osv. " },
                    { "code":"1.1.5", "validFrom":"2022-01-01", "title":"Andre grunner; (f.eks. uenighet om oppdragets
                    omfang, økonomi, forsterkningstiltak mv.) (krever presisering)" },
                    { "code":"1.2.1", "validFrom":"2022-01-01", "title":"Barnet har behov fosterforeldre ikke kan dekke"
                    },
                    { "code":"1.2.2", "validFrom":"2022-01-01", "title":"Endring i fosterforeldres livssituasjon
                    (skilsmisse, død, osv.) " },
                    { "code":"1.2.3", "validFrom":"2022-01-01", "title":"Andre grunner; (f.eks. uenighet om oppdragets
                    omfang, økonomi, forsterkningstiltak, manglende eller lite effektiv veiledning, mv.) (krever
                    presisering) " },
                    { "code":"1.3", "validFrom":"2022-01-01", "title":"Barnet flytter sammen med fosterforeldre til nytt
                    bosted" },
                    { "code":"2.1", "validFrom":"2022-01-01", "title":"Avsluttet i henhold til plan ved oppstart av
                    institusjonsoppholdet" },
                    { "code":"2.2", "validFrom":"2022-01-01", "title":"Institusjonen barnet bor i klarer ikke å dekke
                    barnets behov (manglende kompetanse hos ansatte, beboersammensetning, fysiske forhold ved
                    institusjonen osv)" },
                    { "code":"2.3", "validFrom":"2022-01-01", "title":"Barnet har behov for annen type plasseringstiltak
                    (annen type institusjon, TFCO-fosterhjem, forsterket fosterhjem, osv. " },
                    { "code":"2.4", "validFrom":"2022-01-01", "title":"Barnet blir myndig og velger selv å flytte ut" },
                    { "code":"2.5", "validFrom":"2022-01-01", "title":"Barnet trekker samtykke" },
                    { "code":"2.6", "validFrom":"2022-01-01", "title":"Foreldre trekker samtykke" },
                    { "code":"2.7", "validFrom":"2022-01-01", "title":"Ikke medhold i fylkesnemnda" },
                    { "code":"2.8", "validFrom":"2022-01-01", "title":"Uenighet mellom barnevernstjenesten og Bufetat om
                    oppdragets omfang og/eller økonomi," },
                    { "code":"2.9", "validFrom":"2022-01-01", "title":"Andre grunner (krever presisering)" }
                    ]
                    }
                </xs:appinfo>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="3"/>
					<xs:maxLength value="5"/>
					<xs:enumeration value="1.1.1"/>
					<xs:enumeration value="1.1.2"/>
					<xs:enumeration value="1.1.3"/>
					<xs:enumeration value="1.1.4"/>
					<xs:enumeration value="1.1.5"/>
					<xs:enumeration value="1.2.1"/>
					<xs:enumeration value="1.2.2"/>
					<xs:enumeration value="1.2.3"/>
					<xs:enumeration value="1.3"/>
					<xs:enumeration value="2.1"/>
					<xs:enumeration value="2.2"/>
					<xs:enumeration value="2.3"/>
					<xs:enumeration value="2.4"/>
					<xs:enumeration value="2.5"/>
					<xs:enumeration value="2.6"/>
					<xs:enumeration value="2.7"/>
					<xs:enumeration value="2.8"/>
					<xs:enumeration value="2.9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute ref="Presisering"/>
	</xs:complexType>
	<xs:complexType name="FlyttingTilType">
		<xs:attribute name="Kode" use="required">
			<xs:annotation>
				<xs:documentation>
                    Barnet/ungdommen flytter til:
                    1 = Fosterhjem i familie og nære nettverk
                    2 = Fosterhjem utenfor familie og nære nettverk
                    3 = Beredskapshjem
                    4 = Barnevernsinstitusjon
                    5 = Bolig med oppfølging
                    6 = Foreldre
                    7 = Egen bolig uten oppfølging
                    8 = Annet bosted (spesifiser)
                    9 = Adresseendring
                </xs:documentation>
				<xs:appinfo xml:lang="json">
                    {
                    "type":"codelist",
                    "term":"Flytting",
                    "title":"FlytteTil",
                    "path":"/Barnevern/Sak/Virksomhet/Flytting/FlytteTil/@Kode",
                    "items":[
                    {"code" : "1", "validFrom" : "2022-01-01", "title" : "Fosterhjem i familie og nære nettverk"},
                    {"code" : "2", "validFrom" : "2022-01-01", "title" : "Fosterhjem utenfor familie og nære nettverk"},
                    {"code" : "3", "validFrom" : "2022-01-01", "title" : "Beredskapshjem"},
                    {"code" : "4", "validFrom" : "2022-01-01", "title" : "Barnevernsinstitusjon"},
                    {"code" : "5", "validFrom" : "2022-01-01", "title" : "Bolig med oppfølging"},
                    {"code" : "6", "validFrom" : "2022-01-01", "title" : "Foreldre"},
                    {"code" : "7", "validFrom" : "2022-01-01", "title" : "Egen bolig uten oppfølging"},
                    {"code" : "8", "validFrom" : "2022-01-01", "title" : "Annet bosted (krever presisering)"},
                    {"code" : "9", "validFrom" : "2022-01-01", "title" : "Adresseendring"}
                    ]
                    }
                </xs:appinfo>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="1"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute ref="Presisering"/>
	</xs:complexType>
</xs:schema>
