Tidligere versjoner for dokumentasjon/Barnevern 2021.10.04 14.35.15.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 rel. 3 sp2 (http://www.altova.com) by Statistics Norway (Statistics Norway) -->
<!-- Bufdir Kommunerapportering -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.11.1">
	<!-- ATTRIBUTTER -->
	<xs:attribute name="Id">
		<xs:annotation>
			<xs:appinfo>Database-ID</xs:appinfo>
			<xs:documentation>Globalt attributt for ID, f.eks databaseID/surrogatnøkkel i fagsystemet</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute name="MigrertId">
		<xs:annotation>
			<xs:appinfo>Database-ID</xs:appinfo>
			<xs:documentation>Globalt attributt for ID for system det er migrert fra, og som er benyttet i tidligere KOSTRA-rapportering</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute name="StartDato" type="xs:date">
		<xs:annotation>
			<xs:appinfo>Startdato</xs:appinfo>
			<xs:documentation>Globalt attributt for startdato</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="SluttDato" type="xs:date">
		<xs:annotation>
			<xs:appinfo>Sluttdato</xs:appinfo>
			<xs:documentation>Globalt attributt for sluttdato</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="Presisering">
		<xs:annotation>
			<xs:documentation>
        Globalt attributt for presisering, brukes i forbindelse der en overliggende kode må presiseres
      </xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="300"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<!-- ELEMENTER -->
	<xs:element name="Barnevern" type="BarnevernType">
		<xs:annotation>
			<xs:documentation>
For innsending av barnevernsdata
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!-- TYPEDEFINISJONER -->
	<xs:complexType name="BarnevernType">
		<xs:sequence>
			<xs:element name="Fagsystem" type="FagsystemType">
				<xs:annotation>
					<xs:documentation>Informasjon om fagsystem det rapporteres fra</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Avgiver" type="AvgiverType">
				<xs:annotation>
					<xs:documentation>Kommune som rapporterer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sak" type="SakType">
				<xs:annotation>
					<xs:documentation>Saksmappe for et barn. Komplett innhold av mappe rapporteres når innhold er endret siden siste innsending</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="DatoUttrekk" type="xs:dateTime" use="required">
			<xs:annotation>
				<xs:appinfo>
          Dato og klokkeslett for uttrekket
        </xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="FagsystemType">
		<xs:attribute name="Leverandor" use="required">
			<xs:annotation>
				<xs:appinfo>Leverandøren til fagsystemer, f.eks. Visma, Acos eller NetCompany</xs:appinfo>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="3"/>
					<xs:maxLength value="300"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Navn" use="required">
			<xs:annotation>
				<xs:appinfo>Navnet til fagsystemet, f.eks. Familia</xs:appinfo>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="300"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Versjon" use="required">
			<xs:annotation>
				<xs:appinfo>Versjonen til fagsystemet, f.eks. v1.2.3</xs:appinfo>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="100"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="AvgiverType">
		<xs:attribute name="Organisasjonsnummer" use="required">
			<xs:annotation>
				<xs:documentation>
          Organisasjonsnummeret til kommunen som er avgiver for dataene
        </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="9"/>
					<xs:maxLength value="9"/>
					<xs:pattern value="\d{9}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Kommunenummer" use="required">
			<xs:annotation>
				<xs:documentation>
          4-sifret kommunenummer
        </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="4"/>
					<xs:maxLength value="4"/>
					<xs:pattern value="\d{4}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Kommunenavn" use="required">
			<xs:annotation>
				<xs:documentation>Kommunens navn
        </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="250"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SakType">
		<xs:annotation>
			<xs:documentation>
        Typedefinisjon for Sak (tidl. Individ)
      </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Virksomhet" type="VirksomhetType" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute ref="Id" use="required"/>
		<xs:attribute ref="MigrertId" use="optional"/>
		<xs:attribute ref="StartDato" use="required"/>
		<xs:attribute ref="SluttDato"/>
		<xs:attribute name="Journalnummer" use="required">
			<xs:annotation>
				<xs:documentation>
          Journal-, registrerings-, saks- eller klientnummer
        </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="20"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Fodselsnummer" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="11"/>
					<xs:maxLength value="11"/>
					<xs:pattern value="\d{11}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="DUFnummer" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="12"/>
					<xs:maxLength value="12"/>
					<xs:pattern value="\d{12}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Saksbehandler" use="required">
			<xs:annotation>
				<xs:documentation>Navn eller epost</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Avsluttet" type="xs:boolean"/>
	</xs:complexType>
	<!-- Plan -->
	<xs:complexType name="PlanType">
		<xs:sequence>
			<xs:element name="Evaluering" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="UtfortDato" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Konklusjon" minOccurs="0">
				<xs:complexType>
					<xs:attribute ref="SluttDato" use="required">
						<xs:annotation>
							<xs:documentation>
          Dato for avslutning av planen
        </xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="Id" use="required"/>
		<xs:attribute ref="MigrertId" use="optional"/>
		<xs:attribute ref="StartDato" use="required">
			<xs:annotation>
				<xs:documentation>
          Dato hvor planen regnes som aktiv
        </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Plantype" use="required">
			<xs:annotation>
				<xs:documentation>
1 = Tiltaksplan etter § 4-5
2 = Tiltaksplan etter § 4-28
3 = Foreløpig omsorgsplan etter § 4-15, 3. ledd
4 = Omsorgsplan etter § 4-15, 3. ledd
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="2"/>
					<xs:enumeration value="1">
						<xs:annotation>
							<xs:appinfo>Tiltaksplan etter § 4-5</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="2">
						<xs:annotation>
							<xs:appinfo>Tiltaksplan etter § 4-28</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="3">
						<xs:annotation>
							<xs:appinfo>Foreløpig omsorgsplan etter § 4-15, 3. ledd</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="4">
						<xs:annotation>
							<xs:appinfo>Omsorgsplan etter § 4-15, 3. ledd</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<!-- Melding -->
	<xs:complexType name="MeldingType">
		<xs:sequence>
			<xs:element name="Melder" type="MelderType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Saksinnhold" type="SaksinnholdType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Konklusjon" minOccurs="0">
				<xs:complexType>
					<xs:attribute ref="SluttDato" use="required">
						<xs:annotation>
							<xs:documentation>
          Konklusjonsdato
        </xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Kode" use="required">
						<xs:annotation>
							<xs:documentation>
 1 = Henlagt av andre grunner
 1.1 = Henlagt, Utenfor BVL
 1.2 = Henlagt, Vist til annen instans
 1.3 = Henlagt, Overført til annen kommune
 2 = Ikke henlagt – konklusjonsdato melding (eventuelt 7 dager etter mottatt melding) er startdato undersøkelse
 3 = Henlagt pga. aktive tiltak
 4 = Melding i pågående undersøkelse
 				</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:list>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1"/>
										<xs:maxLength value="3"/>
										<xs:enumeration value="1">
											<xs:annotation>
												<xs:appinfo>Henlagt av andre grunner</xs:appinfo>
											</xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="1.1">
											<xs:annotation>
												<xs:appinfo>Henlagt, Utenfor BVL</xs:appinfo>
											</xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="1.2">
											<xs:annotation>
												<xs:appinfo>Henlagt, Vist til annen instans</xs:appinfo>
											</xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="1.3">
											<xs:annotation>
												<xs:appinfo>Henlagt, Overført til annen kommune</xs:appinfo>
											</xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="2">
											<xs:annotation>
												<xs:appinfo>Ikke henlagt – konklusjonsdato melding (eventuelt 7 dager etter mottatt melding) er startdato undersøkelse</xs:appinfo>
											</xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="3">
											<xs:annotation>
												<xs:appinfo>Henlagt pga. aktive tiltak</xs:appinfo>
											</xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="4">
											<xs:annotation>
												<xs:appinfo>Melding i pågående undersøkelse</xs:appinfo>
											</xs:annotation>
										</xs:enumeration>
									</xs:restriction>
								</xs:simpleType>
							</xs:list>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="Id" use="required"/>
		<xs:attribute ref="MigrertId" use="optional"/>
		<xs:attribute ref="StartDato" use="required">
			<xs:annotation>
				<xs:documentation>
          Mottaksdato for meldingen
        </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!-- Tiltak -->
	<xs:complexType name="TiltakType">
		<xs:sequence>
			<xs:element name="Lovhjemmel" type="LovhjemmelType"/>
			<xs:element name="JmfrLovhjemmel" type="LovhjemmelType" minOccurs="0" maxOccurs="3"/>
			<xs:element name="Kategori" type="KategoriType"/>
			<xs:element name="Tilsyn" type="TilsynType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Tilsyn i fosterhjem utført av uavhengig part</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Oppfolging" type="OppfolgingType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Ansvarlig barneverntjenes oppfølgingsbesøk i fosterhjem</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Opphevelse" type="OpphevelseType" minOccurs="0"/>
			<xs:element name="Konklusjon" minOccurs="0">
				<xs:complexType>
					<xs:attribute ref="SluttDato" use="required">
						<xs:annotation>
							<xs:documentation>Avslutningsdato for tiltaket
        </xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Flytting">
						<xs:annotation>
							<xs:documentation>
1 = Barnevernstjenesten avslutter kontrakt med fosterhjem
1.1 = Barnet tilbakeføres til foreldre/ omsorgsplasseringen opphører
1.2 = Barnet blir myndig
1.3 = Fosterforeldre klarer ikke å dekke barnets behov (forhold ved fosterhjemmet)
1.4 = Barnet har behov for annet plasseringssted (institusjon, TFCO-fosterhjem, forsterket fosterhjem, osv. =forhold ved barnet)
1.5 = Andre grunner; spesifiser. (f.eks. uenighet om oppdragets omfang, økonomi, forsterkningstiltak mv.).
2 = Fosterforeldre avslutter kontrakten med barnevernet
2.1 = Barnet har behov fosterforeldre ikke kan dekke
2.2 = Endring i fosterforeldres livssituasjon (skilsmisse, død, osv.)
2.3 = Andre grunner; spesifiser (f.eks. uenighet om oppdragets omfang, økonomi, forsterkningstiltak, manglende eller lite effektiv veiledning, mv.).
 				</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="1">
									<xs:annotation>
										<xs:appinfo>Barnevernstjenesten avslutter kontrakt med fosterhjem</xs:appinfo>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="1.1">
									<xs:annotation>
										<xs:appinfo>Barnet tilbakeføres til foreldre/ omsorgsplasseringen opphører</xs:appinfo>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="1.2">
									<xs:annotation>
										<xs:appinfo>Barnet blir myndig</xs:appinfo>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="1.3">
									<xs:annotation>
										<xs:appinfo>Fosterforeldre klarer ikke å dekke barnets behov (forhold ved fosterhjemmet)</xs:appinfo>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="1.4">
									<xs:annotation>
										<xs:appinfo>Barnet har behov for annet plasseringssted (institusjon, TFCO-fosterhjem, forsterket fosterhjem, osv. =forhold ved barnet)</xs:appinfo>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="1.5">
									<xs:annotation>
										<xs:appinfo>Andre grunner; spesifiser. (f.eks. uenighet om oppdragets omfang, økonomi, forsterkningstiltak mv.).</xs:appinfo>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="2">
									<xs:annotation>
										<xs:appinfo>Fosterforeldre avslutter kontrakten med barnevernet</xs:appinfo>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="2.1">
									<xs:annotation>
										<xs:appinfo>Barnet har behov fosterforeldre ikke kan dekke</xs:appinfo>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="2.2">
									<xs:annotation>
										<xs:appinfo>Endring i fosterforeldres livssituasjon (skilsmisse, død, osv.)</xs:appinfo>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="2.3">
									<xs:annotation>
										<xs:appinfo>Andre grunner; spesifiser (f.eks. uenighet om oppdragets omfang, økonomi, forsterkningstiltak, manglende eller lite effektiv veiledning, mv.).</xs:appinfo>
									</xs:annotation>
								</xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="Id" use="required"/>
		<xs:attribute ref="MigrertId" use="optional"/>
		<xs:attribute ref="StartDato" use="required">
			<xs:annotation>
				<xs:documentation>
          Iverksatt dato for tiltaket
        </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!-- Lovhjemmel -->
	<xs:complexType name="LovhjemmelType">
		<xs:sequence>
			<xs:element name="Lov">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Kapittel">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Paragraf">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Ledd" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Punktum" minOccurs="0" maxOccurs="unbounded"/>
														</xs:sequence>
														<xs:attribute name="Kode" use="required"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="Kode" use="required"/>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="Kode" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="Kode" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- Melder -->
	<xs:complexType name="MelderType">
		<xs:attribute name="Kode" use="required">
			<xs:annotation>
				<xs:documentation>
1 = Barnet selv
2 = Mor/ far/ foresatte
3 = Familie for øvrig
4 = Andre privatpersoner
5 = Barnvernstjenesten
6 = NAV (kommune og stat)
7 = Barnevernsvakt
8 = Politi
9 = Barnehage
10 = Helsestasjon/skolehelsetjenesten
11 = Skole
12 = Pedagogisk-psykologisk tjeneste (PPT)
13 = Psykisk helsevern for barn og unge (kommune og stat)
14 = Psykisk helsevern for voksne (kommune og stat)
15 = Lege/ sykehus/ tannlege
16 = Familievernkontor
17 = Tjenester og instanser med ansvar for oppfølging av personers rusproblemer (kommune og stat)
18 = Krisesenter
19 = Asylmottak/ UDI/ innvandringsmyndighet
20 = Utekontakt/ fritidsklubb
21 = Frivillige organisasjoner/ idrettslag
22 = Andre offentlige instanser (krever presisering)
23 = Anonym
 				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:list>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="2"/>
							<xs:enumeration value="1">
								<xs:annotation>
									<xs:appinfo>Barnet selv</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="2">
								<xs:annotation>
									<xs:appinfo>Mor/ far/ foresatte</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="3">
								<xs:annotation>
									<xs:appinfo>Familie for øvrig</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="4">
								<xs:annotation>
									<xs:appinfo>Andre privatpersoner</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="5">
								<xs:annotation>
									<xs:appinfo>Barnvernstjenesten</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="6">
								<xs:annotation>
									<xs:appinfo>NAV (kommune og stat)</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="7">
								<xs:annotation>
									<xs:appinfo>Barnevernsvakt</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="8">
								<xs:annotation>
									<xs:appinfo>Politi</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="9">
								<xs:annotation>
									<xs:appinfo>Barnehage</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="10">
								<xs:annotation>
									<xs:appinfo>Helsestasjon/skolehelsetjenesten</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="11">
								<xs:annotation>
									<xs:appinfo>Skole</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="12">
								<xs:annotation>
									<xs:appinfo>Pedagogisk-psykologisk tjeneste (PPT)</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="13">
								<xs:annotation>
									<xs:appinfo>Psykisk helsevern for barn og unge (kommune og stat)</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="14">
								<xs:annotation>
									<xs:appinfo>Psykisk helsevern for voksne (kommune og stat)</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="15">
								<xs:annotation>
									<xs:appinfo>Lege/ sykehus/ tannlege</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="16">
								<xs:annotation>
									<xs:appinfo>Familievernkontor</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="17">
								<xs:annotation>
									<xs:appinfo>Tjenester og instanser med ansvar for oppfølging av personers rusproblemer (kommune og stat)</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="18">
								<xs:annotation>
									<xs:appinfo>Krisesenter</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="19">
								<xs:annotation>
									<xs:appinfo>Asylmottak/ UDI/ innvandringsmyndighet</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="20">
								<xs:annotation>
									<xs:appinfo>Utekontakt/ fritidsklubb</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="21">
								<xs:annotation>
									<xs:appinfo>Frivillige organisasjoner/ idrettslag</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="22">
								<xs:annotation>
									<xs:appinfo>Andre offentlige instanser (krever presisering)</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="23">
								<xs:annotation>
									<xs:appinfo>Anonym</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
						</xs:restriction>
					</xs:simpleType>
				</xs:list>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute ref="Presisering"/>
	</xs:complexType>
	<!-- Saksinnhold -->
	<xs:complexType name="SaksinnholdType">
		<xs:attribute name="Kode" use="required">
			<xs:annotation>
				<xs:documentation>
1 = Foreldres somatiske sykdom
2 = Foreldres psykiske problem/ lidelse
3 = Foreldres rusmisbruk
4 = Foreldres manglende foreldreferdigheter
20 = Foreldres manglende beskyttelse av barnet
21 = Foreldres manglende stimulering og regulering av barnet
22 = Foreldres manglende sensitivitet og følelsesmessige tilgjengelighet for barnet
23 = Foreldres manglende oppfølging av barnets behov for barnehage, skole og pedagogiske tjenester
24 = Konflikt mellom foreldre som ikke bor sammen
5 = Foreldres kriminalitet
6 = Høy grad av konflikt hjemme
7 = Vold i hjemmet/ barnet vitne til vold i nære relasjoner
8 = Barnet utsatt for vanskjøtsel (Barnet overlatt til seg selv, dårlig kosthold, dårlig hygiene)
9 = Barnet utsatt for fysisk vold
10 = Barnet utsatt for psykisk vold
11 = Barnet utsatt for seksuelle overgrep
12 = Barnet mangler omsorgsperson
13 = Barnet har nedsatt funksjonsevne
14 = Barnets psykiske problem/lidelse
15 = Barnets rusmisbruk
16 = Barnets atferd/ kriminalitet
17 = Barnets relasjonsvansker (mistanke om eller diagnostiserte tilknytningsvansker, problematikk knyttet til samspillet mellom barn og omsorgspersoner) 
25 = Barnets atferd
26 = Barnets kriminelle handlinger
27 = Barnet utsatt for menneskehandel
18 = Andre forhold ved foreldre/ familien (krever presisering) (Denne kategorien skal kunne benyttes dersom ingen av kategoriene 1-27 passer.)
19 = Andre forhold ved barnets situasjon (krever presisering) (Denne kategorien skal kunne benyttes dersom ingen av kategoriene 1-27 passer.)
					</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="2"/>
					<xs:enumeration value="1">
						<xs:annotation>
							<xs:appinfo>Foreldres somatiske sykdom</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="2">
						<xs:annotation>
							<xs:appinfo>Foreldres psykiske problem/ lidelse</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="3">
						<xs:annotation>
							<xs:appinfo>Foreldres rusmisbruk</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="4">
						<xs:annotation>
							<xs:appinfo>Foreldres manglende foreldreferdigheter</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="20">
						<xs:annotation>
							<xs:appinfo>Foreldres manglende beskyttelse av barnet</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="21">
						<xs:annotation>
							<xs:appinfo>Foreldres manglende stimulering og regulering av barnet</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="22">
						<xs:annotation>
							<xs:appinfo>Foreldres manglende sensitivitet og følelsesmessige tilgjengelighet for barnet</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="23">
						<xs:annotation>
							<xs:appinfo>Foreldres manglende oppfølging av barnets behov for barnehage, skole og pedagogiske tjenester</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="24">
						<xs:annotation>
							<xs:appinfo>Konflikt mellom foreldre som ikke bor sammen</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="5">
						<xs:annotation>
							<xs:appinfo>Foreldres kriminalitet</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="6">
						<xs:annotation>
							<xs:appinfo>Høy grad av konflikt hjemme</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="7">
						<xs:annotation>
							<xs:appinfo>Vold i hjemmet/ barnet vitne til vold i nære relasjoner</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="8">
						<xs:annotation>
							<xs:appinfo>Barnet utsatt for vanskjøtsel (Barnet overlatt til seg selv, dårlig kosthold, dårlig hygiene)</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="9">
						<xs:annotation>
							<xs:appinfo>Barnet utsatt for fysisk vold</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="10">
						<xs:annotation>
							<xs:appinfo>Barnet utsatt for psykisk vold</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="11">
						<xs:annotation>
							<xs:appinfo>Barnet utsatt for seksuelle overgrep</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="12">
						<xs:annotation>
							<xs:appinfo>Barnet mangler omsorgsperson</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="13">
						<xs:annotation>
							<xs:appinfo>Barnet har nedsatt funksjonsevne</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="14">
						<xs:annotation>
							<xs:appinfo>Barnets psykiske problem/lidelse</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="15">
						<xs:annotation>
							<xs:appinfo>Barnets rusmisbruk</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="16">
						<xs:annotation>
							<xs:appinfo>Barnets atferd/ kriminalitet</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="17">
						<xs:annotation>
							<xs:appinfo>Barnets relasjonsvansker (mistanke om eller diagnostiserte tilknytningsvansker, problematikk knyttet til samspillet mellom barn og omsorgspersoner) </xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="25">
						<xs:annotation>
							<xs:appinfo>Barnets atferd</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="26">
						<xs:annotation>
							<xs:appinfo>Barnets kriminelle handlinger</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="27">
						<xs:annotation>
							<xs:appinfo>Barnet utsatt for menneskehandel</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="18">
						<xs:annotation>
							<xs:appinfo>Andre forhold ved foreldre/ familien (krever presisering) (Denne kategorien skal kunne benyttes dersom ingen av kategoriene 1-27 passer.)</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="19">
						<xs:annotation>
							<xs:appinfo>Andre forhold ved barnets situasjon (krever presisering) (Denne kategorien skal kunne benyttes dersom ingen av kategoriene 1-27 passer.)</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute ref="Presisering"/>
	</xs:complexType>
	<!-- Undersøkelse -->
	<xs:complexType name="UndersokelseType">
		<xs:sequence>
			<xs:element name="Vedtaksgrunnlag" type="SaksinnholdType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="UtvidetFrist" minOccurs="0">
				<xs:complexType>
					<xs:attribute ref="StartDato" use="required">
						<xs:annotation>
							<xs:documentation>
          Datoen det ble søkt om utvidet frist.        </xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Innvilget">
						<xs:annotation>
							<xs:documentation>
1 = Ja
2 = Nei
 				</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="1"/>
								<xs:enumeration value="1">
									<xs:annotation>
										<xs:appinfo>Ja</xs:appinfo>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="2">
									<xs:annotation>
										<xs:appinfo>Nei</xs:appinfo>
									</xs:annotation>
								</xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="Konklusjon" minOccurs="0">
				<xs:complexType>
					<xs:attribute ref="SluttDato" use="required">
						<xs:annotation>
							<xs:documentation>
          Konklusjonsdato for undersøkelsen
        </xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Kode" use="required">
						<xs:annotation>
							<xs:documentation>
1 = Barneverntjenesten fatter vedtak om tiltak
2 = Begjæring om tiltak for fylkesnemnda
3 = Undersøkelsen henlagt etter barnverntjenestens vurdering (kategorien gjelder når barneverntjenesten vurderer at vilkår for å sette inn tiltak ikke er oppfylt)
4 = Undersøkelsen henlagt etter partens ønske (kategorien gjelder når barneverntjenesten vurderer at vilkår for å sette inn tiltak etter § 4-4 er tilstede, men saken henlegges fordi foreldre/barnet ikke samtykker til tiltak. Gjelder bare når det er snakk om hjelpetiltak som foreldre/barn kan takke nei til.)
5 = Undersøkelsen henlagt som følge av flytting (kategorien gjelder når undersøkelsessak henlegges fordi barnet flytter til en ny kommune. Bør også innebære et underpunkt der barneverntjenesten må oppgi om saken er meldt videre til barnets nye oppholdskommune, obligatorisk ja/nei svar) (krever presisering)
6 = Undersøkelsen henlagt etter henvisning til annen instans
 				</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:list>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1"/>
										<xs:maxLength value="1"/>
										<xs:enumeration value="1">
											<xs:annotation>
												<xs:appinfo>Barneverntjenesten fatter vedtak om tiltak</xs:appinfo>
											</xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="2">
											<xs:annotation>
												<xs:appinfo>Begjæring om tiltak for fylkesnemnda</xs:appinfo>
											</xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="3">
											<xs:annotation>
												<xs:appinfo>Undersøkelsen henlagt etter barnverntjenestens vurdering (kategorien gjelder når barneverntjenesten vurderer at vilkår for å sette inn tiltak ikke er oppfylt)</xs:appinfo>
											</xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="4">
											<xs:annotation>
												<xs:appinfo>Undersøkelsen henlagt etter partens ønske (kategorien gjelder når barneverntjenesten vurderer at vilkår for å sette inn tiltak etter § 4-4 er tilstede, men saken henlegges fordi foreldre/barnet ikke samtykker til tiltak. Gjelder bare når det er snakk om hjelpetiltak som foreldre/barn kan takke nei til.)</xs:appinfo>
											</xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="5">
											<xs:annotation>
												<xs:appinfo>Undersøkelsen henlagt som følge av flytting (kategorien gjelder når undersøkelsessak henlegges fordi barnet flytter til en ny kommune. Bør også innebære et underpunkt der barneverntjenesten må oppgi om saken er meldt videre til barnets nye oppholdskommune, obligatorisk ja/nei svar) (krever presisering)</xs:appinfo>
											</xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="6">
											<xs:annotation>
												<xs:appinfo>Undersøkelsen henlagt etter henvisning til annen instans</xs:appinfo>
											</xs:annotation>
										</xs:enumeration>
									</xs:restriction>
								</xs:simpleType>
							</xs:list>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute ref="Presisering"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="Id" use="required"/>
		<xs:attribute ref="MigrertId" use="optional"/>
		<xs:attribute ref="StartDato" use="required">
			<xs:annotation>
				<xs:documentation>
          Dato for undersøkelsens start.
          
          Denne er lik SluttDato for meldingen hvis meldingen har konklusjonskode = 2: «Ikke henlagt»
        </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!-- Kategori -->
	<xs:complexType name="KategoriType">
		<xs:attribute name="Kode" use="required">
			<xs:annotation>
				<xs:documentation>
1.1 = Barnvernsinstitusjoner (gjelder alle typer barnevernsinstitusjoner)
1.2 = Plassering i institusjon etter annen lov
1.99 = Andre tiltak (krever presisering)
2.1 = Fosterhjem i familie og nære nettverk
2.2 = Fosterhjem utenfor familie og nære nettverk
2.3 = Statlige familiehjem (gjelder fosterhjem som staten har ansvar for)
2.4 = Fosterhjem etter § 4-27
2.5 = Beredskapshjem utenom familie og nære nettverk
2.6 = Midlertidig hjem i familie og nære nettverk
2.99 = Andre tiltak (krever presisering)
3.1 = MST
3.2 = PMTO
3.3 = FFT
3.4 = Weber Stratton
3.5 = ICDP
3.6 = Marte Meo
3.7 = Andre hjemmebaserte tiltak (gjelder andre tiltak i hjemmet som følger en spesiell metodikk og som gjenomføres på en systematisk måte) (krever presisering)
3.8 = Sentre for foreldre og barn
3.9 = Vedtak om råd og veiledning
3.10 = Hjemmekonsulent/miljøarbeider
3.99 = Andre tiltak (krever presisering)
4.1 = Barnehage
4.2 = SFO/ Aktivitetsskole
4.3 = Fritidsaktiviteter
4.4 = Økonomisk hjelp for øvrig (gjelder økonomisk hjelp som ikke inngår i 4.1, 4.2 og 4.3)
4.5 = Besøkshjem/ avlastningstiltak
4.6 = Støttekontakt
4.7 = Samtalegrupper/ barnegrupper (gjelder strukturerte samtale- og aktivitetstilbud for aldersbestemte grupper).
4.8 = Utdanning og arbeid (gjelder oppfølging og støtte for å styrke barn og ungdoms tilknytning til skole eller arbeid)
4.9 = ART
4.99 = Andre tiltak (krever presisering)
5.1 = Frivillig tilsyn i hjemmet (gjelder der foreldre har samtykket til tilsyn)
5.2 = Pålagt tilsyn i hjemmet (gjelder der tilsyn skjer etter vedtak i fylkesnemnd)
5.3 = Tilsyn under samvær
5.4 = Ruskontroll
5.99 = Andre tiltak (krever presisering)
6.1 = Familieråd
6.2 = Nettverksmøter (Strukturerte dialogmøter som består av barneverntjenesten, foreldre og ungdom og andre personer som er viktige i ungdommens liv. Invitasjon av deltakere skjer i samråd mellom barneverntjenesten, ungdom og foreldre)
6.3 = Individuell plan
6.4 = Deltakelse i ansvarsgruppe
6.5 = Samarbeid om utdanning og arbeid
6.99 = Andre tiltak (krever presisering)
7.1 = Bvl § 4-10 medisinsk undersøkelse og behandling
7.2 = Bvl § 4-11 behandling av barn med særlige opplæringsbehov
7.3 = Psykisk helsehjelp for barn og unge (Gjelder ikke ved henvisninger, men når barn får behandling av psykolog eller innen psykisk helsevern/BUP)
7.99 = Andre tiltak (krever presisering)
8.1 = Økonomisk hjelp ved etablering i egen bolig/ hybel (Ikke husleie)
8.2 = Bolig med oppfølging (inkluderer også bofellesskap)
8.3 = Botreningskurs
8.99 = Andre tiltak (krever presisering)
 				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="3"/>
					<xs:maxLength value="5"/>
					<xs:enumeration value="1.1">
						<xs:annotation>
							<xs:appinfo>Barnvernsinstitusjoner (gjelder alle typer barnevernsinstitusjoner)</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="1.2">
						<xs:annotation>
							<xs:appinfo>Plassering i institusjon etter annen lov</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="1.99">
						<xs:annotation>
							<xs:appinfo>Andre tiltak (krever presisering)</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="2.1">
						<xs:annotation>
							<xs:appinfo>Fosterhjem i familie og nære nettverk</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="2.2">
						<xs:annotation>
							<xs:appinfo>Fosterhjem utenfor familie og nære nettverk</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="2.3">
						<xs:annotation>
							<xs:appinfo>Statlige familiehjem (gjelder fosterhjem som staten har ansvar for)</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="2.4">
						<xs:annotation>
							<xs:appinfo>Fosterhjem etter § 4-27</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="2.5">
						<xs:annotation>
							<xs:appinfo>Beredskapshjem utenom familie og nære nettverk</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="2.6">
						<xs:annotation>
							<xs:appinfo>Midlertidig hjem i familie og nære nettverk</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="2.99">
						<xs:annotation>
							<xs:appinfo>Andre tiltak (krever presisering)</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="3.1">
						<xs:annotation>
							<xs:appinfo>MST</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="3.2">
						<xs:annotation>
							<xs:appinfo>PMTO</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="3.3">
						<xs:annotation>
							<xs:appinfo>FFT</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="3.4">
						<xs:annotation>
							<xs:appinfo>Weber Stratton</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="3.5">
						<xs:annotation>
							<xs:appinfo>ICDP</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="3.6">
						<xs:annotation>
							<xs:appinfo>Marte Meo</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="3.7">
						<xs:annotation>
							<xs:appinfo>Andre hjemmebaserte tiltak (gjelder andre tiltak i hjemmet som følger en spesiell metodikk og som gjenomføres på en systematisk måte) (krever presisering)</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="3.8">
						<xs:annotation>
							<xs:appinfo>Sentre for foreldre og barn</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="3.9">
						<xs:annotation>
							<xs:appinfo>Vedtak om råd og veiledning</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="3.10">
						<xs:annotation>
							<xs:appinfo>Hjemmekonsulent/miljøarbeider</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="3.99">
						<xs:annotation>
							<xs:appinfo>Andre tiltak (krever presisering)</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="4.1">
						<xs:annotation>
							<xs:appinfo>Barnehage</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="4.2">
						<xs:annotation>
							<xs:appinfo>SFO/ Aktivitetsskole</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="4.3">
						<xs:annotation>
							<xs:appinfo>Fritidsaktiviteter</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="4.4">
						<xs:annotation>
							<xs:appinfo>Økonomisk hjelp for øvrig (gjelder økonomisk hjelp som ikke inngår i 4.1, 4.2 og 4.3)</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="4.5">
						<xs:annotation>
							<xs:appinfo>Besøkshjem/ avlastningstiltak</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="4.6">
						<xs:annotation>
							<xs:appinfo>Støttekontakt</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="4.7">
						<xs:annotation>
							<xs:appinfo>Samtalegrupper/ barnegrupper (gjelder strukturerte samtale- og aktivitetstilbud for aldersbestemte grupper).</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="4.8">
						<xs:annotation>
							<xs:appinfo>Utdanning og arbeid (gjelder oppfølging og støtte for å styrke barn og ungdoms tilknytning til skole eller arbeid)</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="4.9">
						<xs:annotation>
							<xs:appinfo>ART</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="4.99">
						<xs:annotation>
							<xs:appinfo>Andre tiltak (krever presisering)</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="5.1">
						<xs:annotation>
							<xs:appinfo>Frivillig tilsyn i hjemmet (gjelder der foreldre har samtykket til tilsyn)</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="5.2">
						<xs:annotation>
							<xs:appinfo>Pålagt tilsyn i hjemmet (gjelder der tilsyn skjer etter vedtak i fylkesnemnd)</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="5.3">
						<xs:annotation>
							<xs:appinfo>Tilsyn under samvær</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="5.4">
						<xs:annotation>
							<xs:appinfo>Ruskontroll</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="5.99">
						<xs:annotation>
							<xs:appinfo>Andre tiltak (krever presisering)</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="6.1">
						<xs:annotation>
							<xs:appinfo>Familieråd</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="6.2">
						<xs:annotation>
							<xs:appinfo>Nettverksmøter (Strukturerte dialogmøter som består av barneverntjenesten, foreldre og ungdom og andre personer som er viktige i ungdommens liv. Invitasjon av deltakere skjer i samråd mellom barneverntjenesten, ungdom og foreldre)</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="6.3">
						<xs:annotation>
							<xs:appinfo>Individuell plan</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="6.4">
						<xs:annotation>
							<xs:appinfo>Deltakelse i ansvarsgruppe</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="6.5">
						<xs:annotation>
							<xs:appinfo>Samarbeid om utdanning og arbeid</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="6.99">
						<xs:annotation>
							<xs:appinfo>Andre tiltak (krever presisering)</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="7.1">
						<xs:annotation>
							<xs:appinfo>Bvl § 4-10 medisinsk undersøkelse og behandling</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="7.2">
						<xs:annotation>
							<xs:appinfo>Bvl § 4-11 behandling av barn med særlige opplæringsbehov</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="7.3">
						<xs:annotation>
							<xs:appinfo>Psykisk helsehjelp for barn og unge (Gjelder ikke ved henvisninger, men når barn får behandling av psykolog eller innen psykisk helsevern/BUP)</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="7.99">
						<xs:annotation>
							<xs:appinfo>Andre tiltak (krever presisering)</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="8.1">
						<xs:annotation>
							<xs:appinfo>Økonomisk hjelp ved etablering i egen bolig/ hybel (Ikke husleie)</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="8.2">
						<xs:annotation>
							<xs:appinfo>Bolig med oppfølging (inkluderer også bofellesskap)</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="8.3">
						<xs:annotation>
							<xs:appinfo>Botreningskurs</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="8.99">
						<xs:annotation>
							<xs:appinfo>Andre tiltak (krever presisering)</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute ref="Presisering">
			<xs:annotation>
				<xs:documentation>
Globalt attributt for presisering, brukes i forbindelse der en overliggende kode må presiseres
      </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!-- Opphevelse -->
	<xs:complexType name="OpphevelseType">
		<xs:attribute name="Kode" use="required">
			<xs:annotation>
				<xs:documentation>
1 = Barnet tilbakeført til foreldre/ familien jamfør § 4-21
2 = Barnet har fylt 18 år
3 = Adopsjon § 4-20
4 = Annet (krever presisering)
 				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="1"/>
					<xs:enumeration value="1">
						<xs:annotation>
							<xs:appinfo>Barnet tilbakeført til foreldre/ familien jamfør § 4-21</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="2">
						<xs:annotation>
							<xs:appinfo>Barnet har fylt 18 år</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="3">
						<xs:annotation>
							<xs:appinfo>Adopsjon § 4-20</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="4">
						<xs:annotation>
							<xs:appinfo>Annet (krever presisering)</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute ref="Presisering"/>
	</xs:complexType>
	<!-- Oppfølging -->
	<xs:complexType name="OppfolgingType">
		<xs:attribute ref="Id" use="required"/>
		<xs:attribute name="UtfortDato" type="xs:date" use="required">
			<xs:annotation>
				<xs:documentation>
Dato oppfølgingsbesøket faktisk ble foretatt
        </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!-- Tilsyn -->
	<xs:complexType name="TilsynType">
		<xs:attribute ref="Id" use="required"/>
		<xs:attribute name="UtfortDato" type="xs:date" use="required">
			<xs:annotation>
				<xs:documentation>
Dato tilsynsbesøket faktisk ble utført
        </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!-- Oversendelse -->
	<xs:complexType name="OversendelsePrivatKravType">
		<xs:sequence>
			<xs:element name="Konklusjon" minOccurs="0">
				<xs:complexType>
					<xs:attribute ref="SluttDato" use="required">
						<xs:annotation>
							<xs:documentation>
          Datoen hvor kravet oversendes fylkesnemnda
        </xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="Id" use="required"/>
		<xs:attribute ref="StartDato" use="required">
			<xs:annotation>
				<xs:documentation>
          Mottaksdato for kravet
        </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="OversendelseBarneverntjenesteType">
		<xs:sequence>
			<xs:element name="Lovhjemmel" type="LovhjemmelType"/>
			<xs:element name="JmfrLovhjemmel" type="LovhjemmelType" minOccurs="0" maxOccurs="3"/>
		</xs:sequence>
		<xs:attribute ref="Id" use="required"/>
		<xs:attribute ref="StartDato" use="required">
			<xs:annotation>
				<xs:documentation>
          Datoen hvor kravet oversendes fylkesnemnda
        </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!-- Vedtak -->
	<xs:complexType name="VedtakType">
		<xs:sequence>
			<xs:element name="Lovhjemmel" type="LovhjemmelType"/>
			<xs:element name="JmfrLovhjemmel" type="LovhjemmelType" minOccurs="0" maxOccurs="3"/>
			<xs:element name="Krav" type="OversendelsePrivatKravType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Krav fra privat part om endring av tidligere vedtak fattet av fylkesnemnda</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="EndretDato" use="required"/>
					<xs:attribute name="Kode" use="required">
						<xs:annotation>
							<xs:documentation>
3 = Godkjent
4 = Avslått / Avsluttet
4.1 = Avslått
4.2 = Avsluttet
5 = Bortfall etter BVL
6 = Opphevet etter forvaltningloven
 				</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="3">
									<xs:annotation>
										<xs:appinfo>Godkjent</xs:appinfo>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="4">
									<xs:annotation>
										<xs:appinfo>Avslått / Avsluttet</xs:appinfo>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="4.1">
									<xs:annotation>
										<xs:appinfo>Avslått</xs:appinfo>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="4.2">
									<xs:annotation>
										<xs:appinfo>Avsluttet</xs:appinfo>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="5">
									<xs:annotation>
										<xs:appinfo>Bortfall etter BVL</xs:appinfo>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="6">
									<xs:annotation>
										<xs:appinfo>Opphevet etter forvaltningloven</xs:appinfo>
									</xs:annotation>
								</xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="Konklusjon" minOccurs="0">
				<xs:complexType>
					<xs:attribute ref="SluttDato" use="required">
						<xs:annotation>
							<xs:documentation>
          Vedtakets bortfallsdato
        </xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="Id" use="required"/>
		<xs:attribute ref="StartDato" use="required">
			<xs:annotation>
				<xs:documentation>
          Datoen vedtaket ble avgjort
        </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!-- Ettervern -->
	<xs:complexType name="EttervernType">
		<xs:sequence>
			<xs:element name="Konklusjon" minOccurs="0">
				<xs:complexType>
					<xs:attribute ref="SluttDato" use="required"/>
					<xs:attribute name="Kode" use="required">
						<xs:annotation>
							<xs:documentation>
1 = Mottatt og akseptert tilbud om tiltak
2 = Mottatt tilbud om tiltak, avslått grunnet ønske om annet tiltak
3 = Ikke lenger tiltak etter BVL, etter eget ønske
4 = Ikke lenger tiltak etter BVL, grunnet avslag fra kommunen
 				</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="1"/>
								<xs:enumeration value="1">
									<xs:annotation>
										<xs:appinfo>Mottatt og akseptert tilbud om tiltak</xs:appinfo>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="2">
									<xs:annotation>
										<xs:appinfo>Mottatt tilbud om tiltak, avslått grunnet ønske om annet tiltak</xs:appinfo>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="3">
									<xs:annotation>
										<xs:appinfo>Ikke lenger tiltak etter BVL, etter eget ønske</xs:appinfo>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="4">
									<xs:annotation>
										<xs:appinfo>Ikke lenger tiltak etter BVL, grunnet avslag fra kommunen</xs:appinfo>
									</xs:annotation>
								</xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="Id" use="required"/>
		<xs:attribute name="TilbudSendtDato" type="xs:date" use="required"/>
	</xs:complexType>
	<xs:simpleType name="IdType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BegrepsType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Melding"/>
			<xs:enumeration value="Undersokelse"/>
			<xs:enumeration value="Plan"/>
			<xs:enumeration value="Tiltak"/>
			<xs:enumeration value="Vedtak"/>
			<xs:enumeration value="Ettervern"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="VirksomhetType">
		<xs:sequence>
			<xs:element name="Melding" type="MeldingType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Bekymringsmelding</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Undersokelse" type="UndersokelseType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Plan" type="PlanType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Tiltaks- eller omsorgsplan</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tiltak" type="TiltakType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Vedtak" type="VedtakType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Alle typer vedtak som fattes i en barnevernsak, også av fylkesnemnda</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ettervern" type="EttervernType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Tilbud om ettervern. Eventuelt ettervernstiltak registreres som Tiltak</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OversendelseBarneverntjeneste" type="OversendelseBarneverntjenesteType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Begjæring fra barneverntjeneste til fylkesnemnd om tvangsvedtak</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Flytting" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute ref="Id" use="required"/>
					<xs:attribute ref="SluttDato" use="required"/>
					<xs:attribute name="Kode" use="required">
						<xs:annotation>
							<xs:documentation>
1 = Barnevernstjenesten avslutter kontrakt med fosterhjem
1.1 = Barnet tilbakeføres til foreldre/ omsorgsplasseringen opphører
1.2 = Barnet blir myndig
1.3 = Fosterforeldre klarer ikke å dekke barnets behov (forhold ved fosterhjemmet)
1.4 = Barnet har behov for annet plasseringssted (institusjon, TFCO-fosterhjem, forsterket fosterhjem, osv. =forhold ved barnet)
1.5 = Andre grunner; spesifiser. (f.eks. uenighet om oppdragets omfang, økonomi, forsterkningstiltak mv.).
2 = Fosterforeldre avslutter kontrakten med barnevernet
2.1 = Barnet har behov fosterforeldre ikke kan dekke
2.2 = Endring i fosterforeldres livssituasjon (skilsmisse, død, osv.)
2.3 = Andre grunner; spesifiser (f.eks. uenighet om oppdragets omfang, økonomi, forsterkningstiltak, manglende eller lite effektiv veiledning, mv.).
 				</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="1">
									<xs:annotation>
										<xs:appinfo>Barnevernstjenesten avslutter kontrakt med fosterhjem</xs:appinfo>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="1.1">
									<xs:annotation>
										<xs:appinfo>Barnet tilbakeføres til foreldre/ omsorgsplasseringen opphører</xs:appinfo>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="1.2">
									<xs:annotation>
										<xs:appinfo>Barnet blir myndig</xs:appinfo>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="1.3">
									<xs:annotation>
										<xs:appinfo>Fosterforeldre klarer ikke å dekke barnets behov (forhold ved fosterhjemmet)</xs:appinfo>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="1.4">
									<xs:annotation>
										<xs:appinfo>Barnet har behov for annet plasseringssted (institusjon, TFCO-fosterhjem, forsterket fosterhjem, osv. =forhold ved barnet)</xs:appinfo>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="1.5">
									<xs:annotation>
										<xs:appinfo>Andre grunner; spesifiser. (f.eks. uenighet om oppdragets omfang, økonomi, forsterkningstiltak mv.).</xs:appinfo>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="2">
									<xs:annotation>
										<xs:appinfo>Fosterforeldre avslutter kontrakten med barnevernet</xs:appinfo>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="2.1">
									<xs:annotation>
										<xs:appinfo>Barnet har behov fosterforeldre ikke kan dekke</xs:appinfo>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="2.2">
									<xs:annotation>
										<xs:appinfo>Endring i fosterforeldres livssituasjon (skilsmisse, død, osv.)</xs:appinfo>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="2.3">
									<xs:annotation>
										<xs:appinfo>Andre grunner; spesifiser (f.eks. uenighet om oppdragets omfang, økonomi, forsterkningstiltak, manglende eller lite effektiv veiledning, mv.).</xs:appinfo>
									</xs:annotation>
								</xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="Relasjon" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Kobling mellom ulike element, som melding/undersøkelse, tiltak/vedtak</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute ref="Id" use="required"/>
					<xs:attribute name="FraId" type="IdType" use="required"/>
					<xs:attribute name="FraType" type="BegrepsType" use="required"/>
					<xs:attribute name="TilId" type="IdType" use="required"/>
					<xs:attribute name="TilType" type="BegrepsType" use="required"/>
					<xs:attribute name="Navn" type="xs:string"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="StartDato" use="required"/>
		<xs:attribute ref="SluttDato" use="optional">
			<xs:annotation>
				<xs:documentation>
          Konklusjonsdato for saken hos barnevernstjenesten i enten en bydel eller kommune (hvis man ikke har bydeler)
        </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Organisasjonsnummer" use="required">
			<xs:annotation>
				<xs:documentation>Orgnr til den virksomheten som er utførende. For kommuner som  har bydeler er det bydelens orgnr, ellers benytte kommunens orgnr.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="9"/>
					<xs:maxLength value="9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Bydelsnummer" use="optional">
			<xs:annotation>
				<xs:documentation>2-sifret bydelsnummer for bydelen, brukes av f.eks. Oslo</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="2"/>
					<xs:maxLength value="2"/>
					<xs:pattern value="\d{2}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Bydelsnavn">
			<xs:annotation>
				<xs:documentation>Bydelsnavn for bydelen, f.eks. Gamle Oslo ved rapportering av bydel fra Oslo</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="250"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Distriktsnummer">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="2"/>
					<xs:maxLength value="3"/>
					<xs:pattern value="\d{2,3}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
